@model ThbPayments.Areas.CCAvenue.StartModel





<!DOCTYPE html>
<html>

<!-- Mirrored from www.techhighbrows.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Dec 2019 12:05:33 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='robots' content='index,follow' />
    <meta name='googlebot' content='index,follow,all' />
    <meta name='distribution' content='global' />
    <meta name='coverage' content='worldwide' />
    <link rel='shortcut icon' href='uploads/thbsoftwaresolution/favicon.ico' />
    <meta name='identifier-url' content='index.html' />
    <meta name='revisit-after' content='4 days'>
    <meta name='description' content='' />
    <meta name='classification' content='' />
    <meta name='keywords' content='' />
    <meta name='language' content='en' />
    <meta name='alexa' content='100' />
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-140960104-1'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-140960104-1');
    </script>
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' media='screen' />
    <script type='text/javascript' src='js/jquery.1.11.js'></script>
    <link rel="stylesheet"
          href="../use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous" />
    <link href="uploads/thbsoftwaresolution/owl.carousel.min.css" rel="stylesheet" />
    <link href="uploads/thbsoftwaresolution/animate.css" rel="stylesheet" />
    <link href="uploads/thbsoftwaresolution/slick.css" rel="stylesheet" />

    <link href="uploads/thbsoftwaresolution/jquery.mCustomScrollbar.min.css" rel="stylesheet" />


    <script src="uploads/thbsoftwaresolution/owl.carousel.min.js"></script>
    <script src="uploads/thbsoftwaresolution/slick.min.js"></script>
    <script src="uploads/thbsoftwaresolution/wow.min.js"></script>


    <script src="uploads/thbsoftwaresolution/jquery.mCustomScrollbar.concat.min.js"></script>


    <link href="uploads/thbsoftwaresolution/aos.css" rel="stylesheet" />
    <script src="uploads/thbsoftwaresolution/aos.js"></script>

    <link rel="stylesheet" href="../www.w3schools.com/w3css/4/w3.css">

    <link rel='stylesheet' type='text/css' media='screen' href='pagecss/swd-111/swd-111-home-layout2138.css?timestamp=1575544819' />
    <link rel='stylesheet' type='text/css' media='screen' href='pagecss/thbsoftwaresolution/thbsoftwaresolution-home-page.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='pagecss/thbsoftwaresolution/full-css.css.css' />
    <script type='text/javascript' src='pagejs/thbsoftwaresolution/full-js.js.css'></script>
    <title>THB | Home</title>
</head>
<body>

    <div id='componentlayout440254' class='main_div flt '>
        <div id='componentlayout440256' class='vertical_header '>
            <div id='componentlayout440257' class='vertical_head_wrp flt '>
                <div id='componentlayout440258' class='main_logo_div '>
                    <p><a href="index.html"><img src="uploads/thbsoftwaresolution/main_logo2.png" class="img-responsive" alt="THB" /></a></p>
                </div>
                <div id='componentlayout458258' class='menu_bar flt '>
                    <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>    </button>   <a class="navbar-brand" href="https://www.techhighbrows.com"><img src="uploads/thbsoftwaresolution/logo.html" alt="Logo" /></a></div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li id="menu199916" class="home_cl"><a href="https://www.techhighbrows.com">Home</a></li>
                            <li id="menu199917"><a href="https://www.techhighbrows.com/about-us.html">About</a></li>
                            <li id="menu199918" class=" dropdown">
                                <a data-toggle="dropdown" class=" dropdown-toggle" href="#">THB initiative <b class="caret">&nbsp;</b></a>
                                <ul class="dropdown-menu">
                                    <li id="menu200118"><a href="https://www.techhighbrows.com/technology-center.html">Technology Center</a></li>
                                    <li id="menu200120"><a href="https://www.techhighbrows.com/orientation-center.html">Orientation Center</a></li>
                                    <li id="menu200122"><a href="https://www.techhighbrows.com/innovation-center.html">Innovation Center</a></li>
                                </ul>
                            </li>
                            <li id="menu199919" class=" dropdown">
                                <a data-toggle="dropdown" class=" dropdown-toggle" href="#">Products <b class="caret">&nbsp;</b></a>
                                <ul class="dropdown-menu">
                                    <li id="menu200102"><a href="https://www.techhighbrows.com/products.html#collapse1">Guest Infotainment Box</a></li>
                                    <li id="menu200104"><a href="https://www.techhighbrows.com/products.html#collapse2">THB Inventory Management System (TIMS)</a></li>
                                    <li id="menu200106"><a href="https://www.techhighbrows.com/products.html#collapse3">Embedded System Products</a></li>
                                    <li id="menu200108"><a href="https://www.techhighbrows.com/products.html#collapse4">Office Automation</a></li>
                                    <li id="menu200110"><a href="https://www.techhighbrows.com/products.html#collapse5">ERP solutions</a></li>
                                    <li id="menu200112"><a href="https://www.techhighbrows.com/products.html#collapse6">THB Institution Management</a></li>
                                    <li id="menu200114"><a href="https://www.techhighbrows.com/products.html#collapse7">Finance Management</a></li>
                                    <li id="menu200116"><a href="https://www.techhighbrows.com/products.html#collapse8">Fleet Management</a></li>
                                </ul>
                            </li>
                            <li id="menu199920"><a href="https://www.techhighbrows.com/careers.html">Careers</a></li>
                            <li id="menu199920"><a href="https://www.techhighbrows.com/industries.html">Industries</a></li>
                            <li id="menu199921"><a href="https://www.techhighbrows.com/our-clients.html">Our clients</a></li>
                            <li id="menu199920"><a href="https://www.techhighbrows.com/our-tech-expertise.html">Our Tech Expertise</a></li>
                            <li id="menu199928" class=" dropdown">
                                <a data-toggle="dropdown" class=" dropdown-toggle" href="#">Services <b class="caret">&nbsp;</b></a>
                                <ul class="dropdown-menu">
                                    <li id="menu2001185"><a href="https://www.techhighbrows.com/technical-services.html">Technical Services</a></li>
                                    <li id="menu2001205"><a href="https://www.techhighbrows.com/contract-staffing.html">Contract Staffing</a></li>
                                </ul>
                            </li>
                            <li id="menu199922"><a href="https://www.techhighbrows.com/contact.html">Contact</a></li>
                            <li id="menu205626"><a href="https://www.thb.givemyapps.com/ccavenue/start">Pay Now</a></li>
                        </ul>
                    </div>
                </div>
                <div id='componentlayout459016' class='head_contact_div '>
                    <div id='componentlayout459017' class='inn_cnt inn_cnt1 flt '>
                        <div>
                            <a class="cl_bt1"><img src="uploads/thbsoftwaresolution/ph_icon.png" class="img-responsive" alt="" /></a>
                            <span>80507552211</span>
                        </div>
                    </div>
                    <div id='componentlayout459019' class='inn_cnt inn_cnt2 flt '>
                        <div>
                            <a class="cl_bt2"><img src="uploads/thbsoftwaresolution/mail_icon.png" class="img-responsive" alt="" /></a>
                            <span>contact@techhighbrows.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="componentlayout440514" class="touch_container flt ">
            <div id="componentlayout440515" class="container ">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <div id="componentlayout440516" class="touch_inner flt ">
                    <div id="componentlayout440517" class="row ">
                        <div id="componentlayout440536custom" class="col-sm-3"></div>
                        <div id="componentlayout440523" class="col-sm-6 ">
                            <div id="componentlayout440524" class="touch_right flt ">
                                <div id="componentlayout440525" class="form_head">
                                    <p>
                                        We require below details for Payment processing
                                    </p>
                                    @if (Model.ErrorMessage)
                                    {
                                        <div id="frmError">
                                            <span style="color: red">Please fill all mandatory fields.</span>
                                            <br />
                                            <br />
                                        </div>
                                    }
                                </div>
                                <div id="componentlayout440526" class="form_div flt ">
                                    <style type="text/css">
                                        .form_div label {
                                            display: none;
                                        }

                                        .form_div .form-group {
                                            float: left;
                                            width: 100%;
                                        }

                                            .form_div .form-group .col-md-3 {
                                                float: left;
                                                width: 100%;
                                            }

                                                .form_div .form-group .col-md-3 .form-control {
                                                    float: left;
                                                    width: 100%;
                                                }

                                            .form_div .form-group.wd_50 {
                                                float: left;
                                                width: 50%;
                                            }

                                            .form_div .form-group .col-md-3 .form-control {
                                                float: left;
                                                width: 100%;
                                                border: 1px solid rgb(159, 159, 159);
                                                border-radius: 0px;
                                                box-shadow: none;
                                                height: 45px;
                                                margin-bottom: 15px;
                                                font-family: "Muli", sans-serif;
                                                font-weight: 600;
                                            }

                                        .form_div #Message {
                                            height: 150px;
                                        }

                                        .form_div .form-group .col-sm-10 {
                                            padding: 0px;
                                            margin: 0px;
                                            float: left;
                                            width: 100%;
                                        }

                                        .form_div .submitbutton input {
                                            padding: 10px 35px;
                                            font-family: "Muli", sans-serif;
                                            background-color: rgb(47,50,149);
                                            box-shadow: none;
                                            border: none;
                                            color: rgb(255, 255, 255);
                                            font-size: 16px;
                                            font-weight: 600;
                                        }
                                    </style>
                                    <div id="messagediv5759" style="padding-top: 5px;"></div>
                                    <fieldset>
                                        <input type="hidden" name="formname" value="chkform1">
                                        <input type="hidden" name="pageid" value="contact">
                                        <input type="hidden" name="formid" value="5759">
                                        <input type="hidden" id="form_redirect5759" name="form_redirect5759" value="">
                                        <input type="hidden" id="sitename" name="sitename" value="thbsoftwaresolution">
                                        <div id="success5759" style="display: none">
                                            <div class="successMessages" id="successmessage">
                                                <div>
                                                    <img src="/paynow_files/iconInformation.gif">
                                                    Thank You
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Partial("_ItemDetails", Model as ThbPayments.Areas.CCAvenue.StartModel)
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div id="componentlayout440536custom" class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id='componentlayout440386' class='clients_container flt '>
            <div id='componentlayout440387' class='container '>
                <div id='componentlayout440388' class='clients_inner flt '>
                    <div id='componentlayout440389' class='clients_main_head flt ' data-aos="fade-up" data-aos-duration="1000">
                        esteemed<br />

                        <span>Clients</span>
                    </div>
                    <div id='componentlayout440390' class='clients_slides flt '>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_1.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_2.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_3.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_4.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_5.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_1.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_2.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_3.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_4.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                        <div>
                            <img src="uploads/thbsoftwaresolution/cl_logo_5.png"
                                 class="img-responsive"
                                 alt="THB" />
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div id='componentlayout440418' class='copyright_div flt '>
            <p>
                THB Software Solutions Pvt Ltd &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>         All Rights Reserved
            </p>
        </div>
    </div>
    <table id='table_inner_content' class='sss' tyle='text-align:center;'>
        <tr>
            <td style='text-align:right;'><div class='main'><a href='http://www.webbazaar.com/' target='_blank' class='footline'>Get your own website at Web Bazaar</a></div></td>
        </tr>
    </table>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>	<div id='texterror1' style='display: none;'></div>
    <style>
        .form-inline {
            clear: both;
        }

        .form-horizontal {
            clear: both;
        }
    </style>
    <div id='ajax_form_wait' style='display:none; width:100%;height: 100%;position: fixed;z-index:999999;pointer-events: none;background:rgba(255,255,255,0.6)'>
        <img src='plugin-images/submitting.gif' class='img-responsive' style='margin:auto;position: fixed;top: 0;left:0;right:0;bottom:0;' alt='Form Submitting' />
    </div>
</body>
<!-- Mirrored from www.techhighbrows.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Dec 2019 12:05:50 GMT -->
</html>



