@{
    ViewBag.Title = "About";
}
<section class="container-fluid" id="about-avanade-hero-module">
    <section id="banner-section" class="hero-module hero-module-G-slider hero-rebrand-G">
        <div class="banner">
            <!-- Carousel
            ================================================== -->
            <div id="ModuleGCarousel" @*class="carousel slide" *@ data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active fit-to-width" data-position="1"
                         style="background-image: url(&quot;~/images-used/upload/thbsoftwaresolution/about-bann.jpgver=3&amp;la=en&amp;w=1600&amp;hash=AB50D9046F8428444463B0C1B6EE15F3&quot;);">
                        <img data-src="~/images-used/upload/thbsoftwaresolution/about-bann.jpg?ver=3&amp;la=en&amp;w=1600&amp;hash=AB50D9046F8428444463B0C1B6EE15F3"
                             src="~/images-used/upload/thbsoftwaresolution/about-bann.jpg?ver=3&amp;la=en&amp;w=1600&amp;hash=AB50D9046F8428444463B0C1B6EE15F3"
                             class="slides" alt="About Avanade">
                        <div class="container">
                            <div class="carousel-caption lazy-load-box">
                                <div class="share sharevideo" data-shareurl="" data-sharemedia="" data-shareimage=""
                                     data-sharetitle="Our Story"
                                     data-sharedesc="When the power of people meets the Microsoft ecosystem, that&amp;rsquo;s Avanade. That&amp;rsquo;s #humanimpact."
                                     data-sharetwittertitle="Our Story"
                                     data-sharetwitterdesc="When the power of people meets the Microsoft ecosystem, that&amp;rsquo;s Avanade. That&amp;rsquo;s #humanimpact."
                                     data-itemid="996771ce-3272-4be3-9137-dac18cd4d441">
                                    <a data-sharevideo="5841923219001 |  The Avanade story" data-swiper-parallax="-100"
                                       class="shareButton social-roll hidden-lg" data-placement="bottom"
                                       data-trigger="click" data-toggle="modal" data-target="#sharingInPage" href="#">
                                        <img class="" src="/images/cards-icons/share-btn.png"
                                             data-src="/images/cards-icons/share-btn.png" alt="Share button">
                                    </a>
                                </div>
                                <a data-target="#ModuleGCarousel" data-player-key="SJXTqvOM"
                                   data-thevideo="System.Collections.Generic.List`1[System.Guid]"
                                   data-itemid="996771ce-3272-4be3-9137-dac18cd4d441"
                                   class="playVideo hero-feature-title accessbuilt " href="#">

                                    <h1 class="feature-title fadeInUp animated">
                                        Our Story
                                    </h1>


                                    <div data-target="#ModuleGCarousel" data-player-key="SJXTqvOM"
                                         data-thevideo="System.Collections.Generic.List`1[System.Guid]"
                                         data-itemid="996771ce-3272-4be3-9137-dac18cd4d441"
                                         class="playVideo feature-summary ">
                                        <p class="fadeInUp animated">
                                            When the power of people meets the Microsoft
                                            ecosystem, that’s Avanade. That’s #humanimpact.
                                        </p>
                                    </div>
                                    <div data-target="#ModuleGCarousel" data-player-key="SJXTqvOM"
                                         data-thevideo="System.Collections.Generic.List`1[System.Guid]"
                                         class="btn rebrand-hero-btn playVideo hero-module-B-and-G-slider "
                                         data-itemid="996771ce-3272-4be3-9137-dac18cd4d441">
                                        <span class="glyphicon glyphicon-play"></span> PLAY NOW
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>

                    @*<div class="item fit-to-width" data-position="2"
                                style="background-image: url(&quot;/~/media/images/content/background/about/avanade-success-at-a-glance.jpg?ver=5&amp;la=en&amp;w=1600&amp;hash=CF49186465D80E8EB9B85081ACF3762A&quot;);">


                            <img data-src="/~/media/images/content/background/about/avanade-success-at-a-glance.jpg?ver=5&amp;la=en&amp;w=1600&amp;hash=CF49186465D80E8EB9B85081ACF3762A"
                                    src="/~/media/images/content/background/about/avanade-success-at-a-glance.jpg?ver=5&amp;la=en&amp;w=1600&amp;hash=CF49186465D80E8EB9B85081ACF3762A"
                                    class="slides" alt="fast facts">
                            <div class="container">
                                <div class="carousel-caption">

                                    <a href="/en/about-avanade/fast-facts" class="rebrandAccessBuilt">
                                        <div class="hero-feature-title ">
                                            <h1 class="feature-title fadeInUp animated">
                                                Success at a glance
                                            </h1>
                                        </div>
                                        <div class="feature-summary ">
                                            <p class="fadeInUp animated">Unrivaled insight, expertise and innovation.</p>
                                        </div>
                                        <div class="btn rebrand-hero-btn " aria-label="Learn more about fast-facts"
                                                role="button">

                                            LEARN MORE
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>

                        <div class="item fit-to-width" data-position="3"
                                style="background-image: url(&quot;/~/media/images/content/background/clients/avanade-client-case-studies.jpg?ver=4&amp;la=en&amp;w=1600&amp;hash=173979FA16B17EBBEF81523AFBA22F80&quot;);">


                            <img data-src="/~/media/images/content/background/clients/avanade-client-case-studies.jpg?ver=4&amp;la=en&amp;w=1600&amp;hash=173979FA16B17EBBEF81523AFBA22F80"
                                    src="/~/media/images/content/background/clients/avanade-client-case-studies.jpg?ver=4&amp;la=en&amp;w=1600&amp;hash=173979FA16B17EBBEF81523AFBA22F80"
                                    class="slides" alt="client stories">
                            <div class="container">
                                <div class="carousel-caption">

                                    <a href="/en/clients" class="rebrandAccessBuilt">
                                        <div class="hero-feature-title ">
                                            <h1 class="feature-title fadeInUp animated">
                                                Client Stories
                                            </h1>
                                        </div>
                                        <div class="feature-summary ">
                                            <p class="fadeInUp animated">
                                                Real-world examples of the value our work brings to
                                                clients and their customers.
                                            </p>
                                        </div>
                                        <div class="btn rebrand-hero-btn " aria-label="Learn more about clients"
                                                role="button">

                                            LEARN MORE
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>*@


                    <!--Arrows left right-->
                    <div class="container-carousel-ctr">
                        <a class="right carousel-control" href="#ModuleGCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <a class="left carousel-control" href="#ModuleGCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                </div>

            </div>
            <div id="playVideo" class="full" style="position:relative;display:none;z-index:999" tabindex="-1">
                <a href="javascript:void(0)" class="modal-btn closeOption video-btn hero">
                    <span class="hidden-xs">
                        Close
                    </span>
                    <div class="sr-only">video button</div>
                </a>

            </div>
        </div>
    </section>

</section>

<section data-content="laboutlavanadeltabl1"
         class="card-a-module img-text tabbed-a-half-image about-avanade-tab-1 tab-one tab_card_module desktopTabbedMod mobileTabbedMod bg-waves bg5 waveID0"
         id="about-avanade-tab-1">
    <div class="bg-wrapper" style="opacity: 1;"></div>
    <div class="container">
        <div class="module-title bg-header-title" style="opacity: 1;">
            <h1></h1>
            <p></p>
        </div>

        <div class="tabbed-carda">

            <!-- Tab panels -->
            <div class="tab-container-rebrand">
                <input id="hddnTabcount" name="hddnTabcount" type="hidden" value="1">
                <h3 class="tab-drawer-heading img-text d-active ga-retabbed-tabs-mobile-tab1-about-avanade-tab-1"
                    rel="tab1" data-position="1">
                    What we believe in
                </h3>
                <div id="about-avanade-tab-1-tab1" class="tab-content-rebrand">

                    <div class="cards-a img-text no-share ">

                        <div class="left-single-card-a mixed-cards" id="card-one">
                            <div class="card-a-body">
                                <h2 class="">ABOUT US</h2>
                                <div class="colp-land">
                                    <p></p>
                                    <p>
                                        TechHighbrows is a leading technology services and solutions company incorporated
                                        in Jan 2019, situated in the heart of the Garden City of India, Bangalore. It is
                                        located near Manyata Tech Park, which is a prime IT hub in Bangalore and has
                                        easy accessibility through almost all transportation means. TechHighBrows (THB)
                                        Software Solutions Pvt. Ltd. is a product development and service offering
                                        Company originated with an aim to change the world leveraging cutting edge
                                        technologies. As the name signifies, it's a group formed and led by Tech
                                        Intellects who are Industry veterans, highly skilled, committed and with
                                        versatile expertise.
                                    </p>
                                    <p>
                                        The inception of TechHighbrows was done with a vision of providing a platform to
                                        nurture and encourage fresh engineers envision, build, articulate and excel in
                                        their careers while supporting the bigger IT giants to achieve their objectives
                                        of profits, growth, continuous improvement, latest technological alignment,
                                        better throughputs and optimal resource utilization.
                                    </p>
                                    <p>
                                        THB provides end-to-end, innovative and comprehensive services that help
                                        customers leverage high quality, flexible delivery models for cost efficiency,
                                        enhanced skill set, and deep domain expertise. With over 65 global employees,
                                        THB’s core portfolio offering includes strategic consulting and sourcing,
                                        implementation, integration, and application management services under the
                                        following domains:
                                    </p>
                                    <ul class="Bullet-for-RTE">
                                        <li>
                                            Artificial Intelligence
                                        </li>
                                        <li>
                                            Machine Learning
                                        </li>
                                        <li>
                                            Deep Learning
                                        </li>
                                        <li>
                                            Robotics
                                        </li>
                                        <li>
                                            Natural Language processing
                                        </li>
                                        <li>
                                            Natural Language Understanding
                                        </li>
                                        <li>
                                            Augmented Reality/Virtual Reality
                                        </li>
                                        <li>
                                            Cloud computing
                                        </li>
                                        <li>
                                            Telecom
                                        </li>
                                        <li>
                                            Network Functions Virtualization
                                        </li>
                                        <li>
                                            Software Defined Network
                                        </li>
                                        <li>
                                            ERP solutions
                                        </li>
                                        <li>
                                            Embedded system
                                        </li>
                                        <li>
                                            Virtualization
                                        </li>
                                        <li>
                                            Automation
                                        </li>
                                        <li>
                                            IOT (Internet of Things)
                                        </li>
                                        <li>
                                            Staffing
                                        </li>
                                        <li>
                                            Custom Software Development
                                        </li>
                                    </ul><br>
                                    <p>
                                        <a href="/en/careers/life-at-avanade">Our people</a> lie at the heart of our
                                        vision and values. They’re the source of our digital expertise. They make our
                                        success – and our clients’ success – possible.
                                    </p>
                                    <p></p>
                                </div>

                            </div>
                            <div class="fadeout cardAScrollFade"></div>
                            <span class="leftcardSpan"></span>
                            <div class="addingScrollBar">
                            </div>
                            <span class="showtab">Show More</span>
                        </div>
                        <div class="right-cards-a">

                            <input id="hddnVideoId-about-avanade-tab-1-tab-0-1"
                                   name="hddnVideoId-about-avanade-tab-1-tab-0-1" type="hidden"
                                   value="6099531877001"><input id="hddnAvaVideo-about-avanade-tab-1-tab-0"
                                                                name="hddnAvaVideo-about-avanade-tab-1-tab-0" type="hidden" value="1">
                            <div class="card-a-multiple img-text no-share  no-btn " id="card-3">
                                <a href="/en/about-avanade/approach/innovation" target="_parent"
                                   class=" ga-retabbed-ab ga-card-about-avanade-tab-1-
                               -2 " data-position="1-2">

                                    <div class="multiple-card-image">

                                        <img data-src="~/images-used/upload/thbsoftwaresolution/About-us/mission_img.png?ver=3&amp;la=en&amp;w=560&amp;hash=8F0B7919B2050F189579075F810496AB"
                                             src="~/images-used/upload/thbsoftwaresolution/About-us/mission_img.png?ver=3&amp;la=en&amp;w=560&amp;hash=8F0B7919B2050F189579075F810496AB"
                                             class="img-responsive ga-retabbed-img-about-avanade-tab-1-1-2"
                                             alt="digital innovation">


                                    </div>

                                    <div class="card-a-body ga-retabbed-details ga-card-about-avanade-tab-1-1-2 "
                                         data-position="1-2">
                                        <h2 class="tabbed-title ga-retabbed-tabbed-title ga-card-about-avanade-tab-1-1-2 "
                                            data-position="1-2">
                                            Our Mission
                                        </h2>
                                        <div class="colp-land">
                                            <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-about-avanade-tab-1-1-2 "
                                               data-position="1-2">
                                                To live up to our social responsibilities, to serve and enhance the software community by providing innovative solutions.
                                            </p>
                                        </div>
                                   
                                    </div>
                                </a>


                            </div>
                            <div class="card-a-multiple img-text no-share  no-btn " id="card-4">
                                <a href="/en/about-avanade/story/diversity-and-inclusion" target="_parent"
                                   class=" ga-retabbed-ab ga-card-about-avanade-tab-1-1-3 " data-position="1-3">

                                    <div class="multiple-card-image">

                                        <img data-src="~/images-used/upload/thbsoftwaresolution/About-us/vission_img.png?ver=3&amp;la=en&amp;w=560&amp;hash=FC9148094FE32EDDD5BBDAFACB74AD93"
                                             src="~/images-used/upload/thbsoftwaresolution/About-us/vission_img.png?ver=3&amp;la=en&amp;w=560&amp;hash=FC9148094FE32EDDD5BBDAFACB74AD93"
                                             class="img-responsive ga-retabbed-img-about-avanade-tab-1-1-3"
                                             alt="diversity and inclusion">
                                    </div>
                                    <div class="card-a-body ga-retabbed-details ga-card-about-avanade-tab-1-1-3 "
                                         data-position="1-3">
                                        <h2 class="tabbed-title ga-retabbed-tabbed-title ga-card-about-avanade-tab-1-1-3 "
                                            data-position="1-3">
                                            Our Vision
                                        </h2>
                                        <div class="colp-land">
                                            <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-about-avanade-tab-1-1-3 "
                                               data-position="1-3">
                                                To focus on delivering the quality solutions in time to our clients and inspire the IT industry through continuous innovative technological contributions.
                                            </p>
                                        </div>                                        
                                    </div>
                                </a>


                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>



        <div class="read-more learn-more pull-right">

        </div>
    </div>
    <div class="waveContainer">
        <div class="wave51" style="opacity: 0; transform: matrix(1, 0, 0, 1, -440, 90);"></div>
        <div class="wave52" style="opacity: 0; transform: matrix(1, 0, 0, 1, -150, 60);"></div>
        <div class="wave53" style="opacity: 0; transform: matrix(1, 0, 0, 1, -240, 70);"></div>
    </div>
</section>


<section class="rebrand-contact-us-module-A Contact" id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 rebrand-wrapper col-md-offset-1 ContactAnimate contactShowed" id="ContactAnimate">
                <!-- for the image !-->
               
                <!-- for the content !-->
                <div class="rebranding-contactus-content">


                    <div class="col-sm-7 col-md-7 col-xs-12">

                        <div class="contactus-content">

                            <div id="componentlayout440517" class="row ">
                                <div id="componentlayout440518" class="col-sm-6 ">
                                    <div id="componentlayout440519" class="touch_left flt ">
                                        <div id="componentlayout440520" class="comp_name flt ">
                                            <p>
                                                <span style="font-size: 10pt;">
                                                    <span style="font-family: Arial;">
                                                        <big>
                                                            THB Software Solutions
                                                            Pvt Ltd
                                                        </big>
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440521" class="add_blocks mar_bott flt ">
                                            <p>
                                                &nbsp;<span style="font-family: Arial;"> </span><span style="font-family: Arial;">
                                                    <span style="font-size: 10pt;"><big><small><b>Address</b></small></big></span>
                                                </span><span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            <br>
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                            <p><span style="font-family: Arial;"> </span></p>
                                            <p style="text-align: left;">
                                                <span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            #1, Flat-202, 2nd Floor,
                                                            BVR Lake front building, <br>
                                                            Veerannapalya Main Road, A.C. Post, Nagavara,Bengaluru-45
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440522" class="add_blocks flt ca_cl ">
                                            <p>
                                                <b>Email</b><br>
                                                <small><span style="font-family: Arial;"><big>hrindia@techhighbrows.com</big></span></small>
                                            </p>
                                        </div>
                                        <div id="componentlayout458259" class="add_blocks flt ca_cont ">
                                            <p>
                                                <b>Contact</b><br>
                                                9739466719 / 9108855890 / 9945194330
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.9045845294413!2d77.61119331484409!3d13.041745090809883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17dcdb06ce4f%3A0xe6ce8c3ee56527e!2sTHB%20Software%20Solutions%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1572323698948!5m2!1sen!2sin"
                                            style="border:0;" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>
                                </p>
                            </div>

                        </div>

                        <!-- for the button !-->
                    </div>

                    <div id="componentlayout440523" class="col-sm-4 col-md-4 col-xs-6 pull-right">
                        <div id="componentlayout440524" class="touch_right flt ">
                            <div id="componentlayout440525" class="form_head flt ">
                                <p>
                                    write us<br>
                                    <span>Get in touch</span>
                                </p>
                            </div>
                            <div id="componentlayout440526" class="form_div flt ">
                                <style type="text/css">
                                    .form_div label {
                                        display: none;
                                    }

                                    .form_div .form-group {
                                        float: right;
                                        width: 100%;
                                    }

                                        .form_div .form-group .col-md-3 {
                                            float: right;
                                            width: 100%;
                                        }

                                            .form_div .form-group .col-md-3 .form-control {
                                                float: right;
                                                width: 100%;
                                            }

                                        .form_div .form-group.wd_50 {
                                            float: right;
                                            width: 50%;
                                        }

                                        .form_div .form-group .col-md-3 .form-control {
                                            float: right;
                                            width: 100%;
                                            border: 1px solid rgb(159, 159, 159);
                                            border-radius: 0px;
                                            box-shadow: none;
                                            height: 45px;
                                            margin-bottom: 15px;
                                            font-family: "Muli", sans-serif;
                                            font-weight: 600;
                                        }

                                    .form_div #Message {
                                        height: 150px;
                                    }

                                    .form_div .form-group .col-sm-10 {
                                        padding: 0px;
                                        margin: 0px;
                                        float: right;
                                        width: 100%;
                                    }

                                    /*.form_div .submitbutton input {
                                        padding: 10px 35px;
                                        font-family: "Muli", sans-serif;                                        
                                        box-shadow: none;
                                        border: none;                                        
                                        font-size: 16px;
                                        font-weight: 600;*/
                                    }
                                </style>
                                <div id="messagediv5759" style="padding-top:5px;"></div>
                                <form method="post" class="form-inline" name="chkform" value="" enctype="multipart/form-data" action="/page/contact.html">
                                    <fieldset>
                                        <input type="hidden" name="formname" value="chkform1">
                                        <input type="hidden" name="pageid" value="about-us">
                                        <input type="hidden" name="formid" value="5759">
                                        <input type="hidden" id="form_redirect5759" name="form_redirect5759" value="">
                                        <input type="hidden" id="sitename" name="sitename" value="thbsoftwaresolution">
                                        <div id="success5759" style="display:none">
                                            <div class="successMessages" id="successmessage">
                                                <div>
                                                    <img src="/images/icons/iconInformation.gif">
                                                    Thank You
                                                </div>
                                            </div>
                                        </div>
                                        <div class="outercoverfrontend" style="font-size:12px;">
                                            <div class="allfieldsoutercover">
                                                <div class="form-group fg wd_50 ">
                                                    <label for="Name" class="col-md-4 control-label fl wd_50">
                                                        Name
                                                        <span> *</span>
                                                    </label>
                                                    <div class="col-md-3  col wd_50">
                                                        <span class="help-block ms wd_50" id="message57591" style="font-size:9px;color:red"></span>
                                                        <input type="text" id="Name" name="Name" title="Name" placeholder="Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group fg wd_50 ">
                                                    <label for="Email" class="col-md-4 control-label">
                                                        Email
                                                        <span> *</span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <span class="help-block" id="message57592" style="font-size:9px;color:red"></span>
                                                        <input type="text" id="Email" name="Email" title="Email" placeholder="Email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group fg ">
                                                    <label for="Message" class="col-md-4 control-label fl">Message</label>
                                                    <div class="col-md-3  col">
                                                        <span class="help-block ms" id="message57593" style="font-size:9px;color:red"></span>
                                                        <textarea class="form-control" name="Message" id="Message" title="Message" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">var jarray = new Array(); jarray[0] = "Name_Name"; jarray[1] = "Email_Email"; jarray[2] = "Message_Message";</script>
                                            <style type="text/css">
                                                .outerfieldcover input, .outerfieldcover textarea {
                                                    font-family: verdana;
                                                    font-size: 12px;
                                                    font-weight: bold;
                                                    color: #cdcdcd;
                                                }
                                            </style>
                                            <script type="text/javascript">jQuery('.inputtext').each(function () { this.value = jQuery(this).attr('title'); jQuery(this).addClass('text-label'); jQuery(this).focus(function () { if (this.value == jQuery(this).attr('title')) { this.value = ''; jQuery(this).removeClass('text-label'); } }); jQuery(this).blur(function () { if (this.value == '') { this.value = jQuery(this).attr('title'); jQuery(this).addClass('text-label'); } }); }); jQuery(document).ready(function () { jQuery('.submitbutton input').click(function () { jQuery('.inputtext').each(function () { var check = jQuery(this).attr('name') + '_' + jQuery(this).attr('value'); if (jQuery.inArray(check, jarray) > -1) { this.value = jQuery(this).attr('value'); this.value = ''; } }); }) }); jQuery.noConflict();</script>
                                            
                                            <div class="col-sm-3 col-md-3 col-xs-12 contact-button pull-right fadeIn zoomIn animated">
                                                <a href="/en/contact" class="btn contactus-btn floating pull-right animated " type="submit" value="Submit" onclick="return validCaptcha();">Submit</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>                                       
                </div>

                    </div>
                </div>
        </div>
    </div>
</section>