
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar rebrand-breadcrumb-module hidden-xs hero-breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="@Url.Action("Index", "Home")">
                        <span property="name">Home</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    Careers
                    <meta property="position" content="3">
                </li>
            </ol>
        </div>
    </div>
</nav>
<img data-src="~/images/upload/thbsoftwaresolution/navbar-images/careersd_1.jpg" 
     src="~/images/upload/thbsoftwaresolution/navbar-images/careersd_1.jpg" 
     style="Height: 455px;width:100%" class="img-responsive" alt="Careers">

<h1 style="text-align:center;font-size:45px;color:#000066">Careers</h1>

<section class="block-module career-block-module1" id="career-block-module1">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-sm-12 full-width">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="left-side">
                        <p style="font-size:16px!important">
                            Join and work with us to unleash our exciting work environment, an expert team and to crawl through the industry which is driven by cutting edge technologies such as AI, ML and IoT. Be a part of our vision to meet your professional goals.
                        </p>
                        <br />
                        <h4>Current Job openings</h4>
                        <p style="font-size:16px!important"> To apply for any of the opening please send your resume to hrindia@techhighbrows.com</p>
                        <ul class="Bullet-for-RTE" style="font-size:16px!important">
                            <li>Software Engineer (0 - 1 year experience)- BCA, B.Sc (Computer Science), B.E graduates passed out in 2018 or 2019 can apply - 7 Positions</li>
                            <li>
                                Advance Java Developer (4 - 6 years experience) - 5 Positions
                            </li>
                            <li>
                                Python Developer  (1 - 3 years experience) - 3 Positions
                            </li>
                            <li>
                                AI / ML Engineer (4 - 8 years experience) - 3 Positions
                            </li>
                        </ul>
                        <br />
                        <dl>
                            <dt>
                                <h4>Internship</h4>
                            </dt>
                            <dd style="font-size:16px!important">
                                - Interested final year graduates may get in touch through hrindia@techhighbrows.com
                            </dd>
                            <br />
                            <dt>
                                <h4>Campus Recruitment</h4>
                            </dt>
                            <dd style="font-size:16px!important">- Colleges may request for a campus drive with appropriate authorization letter printed on the college letterhead. Format of the authorization letter could be obtained by mailing to campus-drives@techhighbrows.com</dd>
                            <br />
                            <dt>
                                <h4>IIP</h4>
                            </dt>
                            <dd style="font-size:16px!important">
                                - Candidates could request for registration for the IIP introductory workshop which is a first step towards our IIP, through hrindia@techhighbrows.com.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>