
@{
    ViewBag.Title = "Development_Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar rebrand-breadcrumb-module hidden-xs hero-breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="@Url.Action("Index", "Home")">
                        <span property="name">Home</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="#">
                        <span property="name">THB Initiative</span>
                    </a>
                    <meta property="position" content="2">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    Development Center
                    <meta property="position" content="3">
                </li>
            </ol>
        </div>
    </div>
</nav>
<img data-src="~/images/upload/thbsoftwaresolution/navbar-images/devop-center.jpg" 
     src="~/images/upload/thbsoftwaresolution/navbar-images/devop-center.jpg" 
     style="Height: 455px;width:100%" class="img-responsive" alt="Orientation center">

<h1 style="text-align:center;font-size:45px;color:#000066">Development Center</h1>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h4 class="txt text-center">
            Advanced Java Technologies
        </h4>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                <p>The Development of Secured and Enterprise Web Applications and Rest API’s for your organization is produced by us with keeping everything in mind. The Quality of the product, Accuracy of the product (Provides accurate results), Delivering on time, Efficient Payment, the effective product.<br></p>
                <p>The most secured and powerful technology growing rapidly in the market, for the development of Enterprise applications.</p>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/advanced-java.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h4 class="txt text-center">Mobility (Android and IOS)</h4>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/android.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                <p>
                    Mobile apps have become a need and are recently undergone a revolutionary change, and which are required for all organizations like small, medium and large enterprises. Every mobile application needs charming visualization and astonishing style with solid development. We provide answer to your needs. Mobile apps have a great ability to build a market for your business. We help you utilize this capacity to reach a larger section of customers by just a few clicks of your palm. we help you expanding your market by using the mobile platform at its best with help of cutting-edge technology. We can strategies your mobile app techniques, which can lead you to the highly profitable business and design your app ideas into the prototypes & wireframes as per the specifications of business standards. We will include creativity, skills, practical and acceptable, altogether in mobile app development. Our QA team assure quality more than anything. Get a glitch-free, established and approved mobile apps with us.
                </p>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h4 class="txt text-center">
            Cloud Computing
        </h4>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                <p>
                    Cloud computing is the on-demand availability of computer system resources, especially for storing and accessing data over the internet. The term is generally used to describe data centers available to many users over the Internet and doesn't store any data on the hard disk of your PC. Cloud computing helps you to access your data from a remote server.” There's are various types of cloud computing services are available in the market. Cloud computing services range from full applications and development platforms to servers, storage, and virtual desktops. We Make it simple to launch in the cloud and scale up as you grow-with an instinctive control panel, predictable pricing, team accounts and many more. THB helps to transform their IT environment to the best-in-class Cloud Computing Services for all organizations. We deliver cloud computing services that provide organizations with a competitive edge and which are highly-effective and reliable .Our cloud solutions enable organizations to improve productivity and reduce IT resource requirements, in addition to reducing the time-to- market and lowering costs.<br>
                </p>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Cloud-Computing.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h4 class="txt text-center">
            Telecom OSS/BSS
        </h4>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Telecom-OSS-BSS.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                <p>
                    Our OSS / BSS services includes solutions to support the processes of network configuration, rollout, and service assurance with planning, billing, customer relations management (CRM), monitoring of network performance. The main feature of our solutions are flexibility, scalability, and functionality. We give the users the chances to quickly and easily introduce changes and custom tailor our solutions according to their specific requirement. The systems are adaptable, and they can grow with the telecom business together, without limits. And our systems cover very wide range of functionalities expected by telecoms. The business advantage of using our systems is having very good solution for very realistic price. As we understand the complexity of OSS / BSS solutions we never leave our customers on their own. After the system is implemented, we provide knowledge transfer and very strong support.
                </p>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h4 class="txt text-center">
            Embedded Systems – RTLinux, QNX, VxWorks
        </h4>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                <p>
                    THB helps to develop full product solutions from design, manufacturing, certification, and life-cycle management with Combining strong chip and systems. Adaptability of embedded systems to new changes becomes a key component in Consumer Electronics, Industrial Automation, Medical Devices, etc. Our aim is to share our embedded system expertise with customers so that they can get their products to market faster, with high quality and complete functionality. We provide complete solution for embedded systems development from single source like Product, Support and Services with portable, flexible, scalable, and maintainable hardware and software is critical to sustaining market leadership.
                </p>
                <br>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Embedded-Systems.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h4 class="txt text-center">
            AI/ML/DL – Python, R Programming, Keras, TensorFlow, Apache Spark
        </h4>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/AI-ML-DL.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                <p>
                    We help companies to develop AI-driven products and solutions with machine learning tools and algorithms. Our team has sound knowledge and experience in designing, implementing and integrating Artificial Intelligence solutions within the customer’s business environment.
                </p>                
                <p>
                    We help enterprises in creating intelligent machines, systems that can learn from experience, systems that learn from experience on large data sets with the help of leveraging development tools such as Artificial Intelligence (AI), Machine Learning (ML), Deep Learning (DL) and also Artificial Neural Networks (ANN) -refers to models of human neural networks that are designed to help computers learn. Our machine learning firm helps in automating business process on different levels and decision making about the resources to routines tasks like e-mail sending and form filling.
                </p>              
                <p>
                    AI helps machines like robot, refrigerator, a car, or a software application to act smart. Systems that get smarter and smarter over time without human intervention with the help of ML. Deep Learning (DL) is ML but applied to large data sets.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h4 class="txt text-center">
            TEST AUTOMATION SCRIPTING
        </h4>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                <p>
                    Software & application testing is considered to be important by organizations all over the globe. It is one such crucial activity that validates the functionality, performance, quality & other vital aspects of a software. But, with the ever-increasing codebase and added functionality, manual testing requires considerable time and effort, hence turning as inefficient & costly day-by-day. To avoid such issues, Manual testing is switching into Automation testing to increase their quality & effectiveness of Applications. Software application Testing ensures that a particular program or application functions properly.<br>
                </p>
                <p>Software applications and products have a number of variations in terms of features they support and processes they implement.</p>
                <ol>
                    <p>
                        A lifecycle for Application Testing involves four stages.
                    </p>
                    <li>Design test plans based on application requirements</li>
                    <li>Develop manual test cases and automated test scripts</li>
                    <li>Execute functional tests to validate application requirements</li>
                    <li>Execute load tests and tune application performance</li>
                </ol>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Test-Automation-Scripting.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h4 class="txt text-center">
            DEVOPS – OPENSHIFT
        </h4>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/DevOpsOpenShift.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                <p>
                    DevOps emphasizes collaboration between development and operations team to promote code to production as quickly as possible.
                </p>
                <br />
                <p>
                    DevOps is a set of practices that combines software development and information- technology operations which aims to shorten the systems development life cycle and provide continuous delivery with high quality. Our DevOps engineers help guide your transition to the cloud by architecting & implementing custom enterprise-grade cloud solutions that are flexible, fully scalable & highly available. We also enable complete management & automated deployment of your apps through custom CI/CD pipeline development & configuration management tools.
                </p>
                <br />
                <p>
                    DevOps implementation requires adequate planning and guidance from experts. We can assess an organization’s existing environment in terms of processes including agile adoption, tools, automation, solution architecture, cloud services and culture accordingly advice on well suited DevOps approach.
                </p>
                <p>
                    Few of The Benefits…
                    Improved customer satisfaction
                </p>
                <ul class="Bullet-for-RTE">
                    <li>
                        Aligning Information Technology and business
                    </li>
                    <li>
                        Agility with increased speed to market
                    </li>
                    <li>
                        Be ready to the changing market and customer demands
                    </li>
                    <li>
                        Improved software stability and quality
                    </li>
                    <li>
                        Team empowerment
                    </li>
                    <li>
                        Better ROI of data
                    </li>
                    <li>
                        Greater business value
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
