
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="img-responsive" data-src="~/images/upload/thbsoftwaresolution/About-us/about-bann.jpg"
     src="~/images/upload/thbsoftwaresolution/About-us/about-bann.jpg"
     alt="Home" style="Height: 455px;width:100%">
<section data-content="laboutlavanadeltabl1"
         class="card-a-module img-text tabbed-a-half-image about-avanade-tab-1 tab-one tab_card_module desktopTabbedMod mobileTabbedMod bg-waves bg5 waveID0"
         id="about-avanade-tab-1">
    <div class="container">
        <div class="tabbed-carda">
            <!-- Tab panels -->
            <div class="tab-container-rebrand">
                <input id="hddnTabcount" name="hddnTabcount" type="hidden" value="1">               
                <br />
                <div id="about-avanade-tab-1-tab1" class="tab-content-rebrand">
                    <div class="cards-a img-text no-share ">
                        <div class="left-single-card-a mixed-cards" id="card-one">
                            <div class="card-a-body">
                                <h3>
                                    <b>
                                        Welcome to TechHighbrows
                                    </b>
                                </h3>
                                <h4>TechHighbrows (THB) Software Solutions Pvt. Ltd. is a product development and service offering Company.</h4>
                                <br />
                                <div class="colp-land">
                                    <p></p>
                                    <p>
                                        TechHighbrows (THB) Software Solutions Pvt. Ltd. is a next-generation global technology company that helps enterprises reimagine their business for the digital age. We provide a broad range of services in strategy, consulting, technology and operations, with digital capabilities. Our technology products and services are built on innovation, with a world class management principles, a strong culture of invention and a relentless focus on customer relationships.
                                    </p>
                                    <p>
                                        Our unique service offerings and products cut across the technologies such as Artificial Intelligence, Machine Learning, Deep Learning, Augmented Reality/Virtual Reality, Robotics, Natural Language Processing, Cloud Computing, Telecom, Network Functions Virtualization, Software Defined Network, Embedded System, Virtualization, Automation & Internet of Things.
                                    </p>
                                    <p></p>
                                </div>

                            </div>
                            <div class="fadeout cardAScrollFade"></div>
                            <span class="leftcardSpan"></span>
                            <div class="addingScrollBar">
                            </div>
                        </div>

                        <div class="right-cards-a">
                            <input id="hddnVideoId-about-avanade-tab-1-tab-0-1" name="hddnVideoId-about-avanade-tab-1-tab-0-1" type="hidden" value="6099531877001">
                            <input id="hddnAvaVideo-about-avanade-tab-1-tab-0" name="hddnAvaVideo-about-avanade-tab-1-tab-0" type="hidden" value="1">

                            <div class="card-a-multiple img-text no-share  no-btn " id="card-2">
                                <div class="multiple-card-image">
                                    <img data-src="~/images/upload/thbsoftwaresolution/prddevop.png"
                                         src="~/images/upload/thbsoftwaresolution/prddevop.png" class="img-responsive ga-retabbed-img-about-avanade-tab-1-1-3" alt="diversity and inclusion">
                                </div>
                                <div class="card-a-body ga-retabbed-details ga-card-about-avanade-tab-1-1-3 "
                                     data-position="1-3">
                                    <h3 class="tabbed-title ga-retabbed-tabbed-title ga-card-about-avanade-tab-1-1-3 "
                                        data-position="1-3">
                                        Product Development
                                    </h3>
                                    <div class="colp-land">
                                        <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-about-avanade-tab-1-1-3" data-position="1-3">
                                            We expand customers’ idea &amp; it’s business potential quickly. With right mix of
                                            technologies, architecture &amp; strategies we bring the product to life with a reasonable
                                            cost &amp; time without comprising the quality
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-a-multiple img-text no-share  no-btn " id="card-3">
                                <div class="multiple-card-image">
                                    <img data-src="~/images/upload/thbsoftwaresolution/skilled-professiona.jpg"
                                         src="~/images/upload/thbsoftwaresolution/skilled-professiona.jpg"
                                         class="img-responsive ga-retabbed-img-about-avanade-tab-1-1-3"
                                         alt="diversity and inclusion">
                                </div>
                                <div class="card-a-body ga-retabbed-details ga-card-about-avanade-tab-1-1-3 " data-position="1-3">
                                    <h3 class="tabbed-title ga-retabbed-tabbed-title ga-card-about-avanade-tab-1-1-3 " data-position="1-3">
                                        IT Consulting
                                    </h3>
                                    <div class="colp-land">
                                        <p class="hidden-xs ga-retabbed-txabbed-desc ga-card-about-avanade-tab-1-1-3 " data-position="1-3">
                                            Lateral and contract hiring services. It comprises of highly skilled technical staff
                                            with an expertise on various domains and technologies needed to execute full stack
                                            software development.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-a-multiple img-text no-share  no-btn " id="card-3">
                                <div class="multiple-card-image">
                                    <img data-src="~/images/upload/thbsoftwaresolution//ites_bpo.jpg"
                                         src="~/images/upload/thbsoftwaresolution/ites_bpo.jpg"
                                         class="img-responsive ga-retabbed-img-about-avanade-tab-1-1-3"
                                         alt="diversity and inclusion">
                                </div>
                                <div class="card-a-body ga-retabbed-details ga-card-about-avanade-tab-1-1-3 "
                                     data-position="1-3">
                                    <h2 class="tabbed-title ga-retabbed-tabbed-title ga-card-about-avanade-tab-1-1-3 "
                                        data-position="1-3" style="letter-spacing:2px">
                                        ITES - BPO
                                    </h2>
                                    <div class="colp-land">
                                        <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-about-avanade-tab-1-1-3 " data-position="1-3">
                                            We have world class Voice &amp; Non-Voice ITeS unit which cater services to multiple
                                            overseas clients
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-a-multiple img-text no-share  no-btn " id="card-3">
                                <div class="multiple-card-image">
                                    <img data-src="~/images/upload/thbsoftwaresolution/Collaboration1.jpg"
                                         src="~/images/upload/thbsoftwaresolution/Collaboration1.jpg"
                                         class="img-responsive ga-retabbed-img-about-avanade-tab-1-1-3"
                                         alt="diversity and inclusion">
                                </div>
                                <div class="card-a-body ga-retabbed-details ga-card-about-avanade-tab-1-1-3 "
                                     data-position="1-3">
                                    <h2 class="tabbed-title ga-retabbed-tabbed-title ga-card-about-avanade-tab-1-1-3 "
                                        data-position="1-3">
                                        Internship
                                    </h2>
                                    <div class="colp-land">
                                        <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-about-avanade-tab-1-1-3 "
                                           data-position="1-3">
                                            An opportunity provided by THB to the pre-final / final year Engineering tutees to
                                            entrench themselves with the real-time project experience
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-a-multiple img-text no-share  no-btn " id="card-4" style="margin-top: 10px;">
                                <div class="multiple-card-image">
                                    <img data-src="~/images/upload/thbsoftwaresolution/iips.jpg"
                                         src="~/images/upload/thbsoftwaresolution/iips.jpg"
                                         class="img-responsive ga-retabbed-img-about-avanade-tab-0-1-0"
                                         alt="digital innovation">
                                </div>
                                <div class="card-a-body ga-retabbed-details ga-card-about-avanade-tab-1-1-4 "
                                     data-position="1-2">
                                    <h2 class="tabbed-title ga-retabbed-tabbed-title ga-card-about-avanade-tab-1-1-4 "
                                        data-position="1-2" style="letter-spacing:2px">
                                        IIP
                                    </h2>
                                    <h5><b>(Industrial Induction Program)</b></h5>
                                    <div class="colp-land">
                                        <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-about-avanade-tab-1-1-2 "
                                           data-position="1-2">
                                            A prodigious platform meant to diligently prime the young and deserving technical graduates on the industrial expectations.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-content="chomepage6cards" class="cards rebranding five homepage-6cards bg-waves cardModuleRebrand bg1 waveID4" id="homepage-6cards">
    <div class="container">
        <div class="module-title bg-header-title" style="">
            <h3>OUR PRODUCTS</h3>
        </div>
        <div class="card-listing">
            <div id="homepage6cardsfive" class="row row-eq-height homepage6cards">
                <div>
                    <div class="card " id="card-homepage-6cards">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/product/nhance-Evaluator_cover.png"
                                 src="~/images/upload/thbsoftwaresolution/product/nhance-Evaluator_cover.png" class="img-fluid" alt="Your career in technology">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="white-space:nowrap">Evaluator App</h3>
                        </div>
                    </div>

                    <div class="card " id="card-homepage-6cards0">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/product/guest.jpg"
                                 src="~/images/upload/thbsoftwaresolution/product/guest.jpg" class="img-fluid" alt="careers-roles-and-locations">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Guest Infotainment Box</h3>
                        </div>
                    </div>

                    <div class="card " id="card-homepage-6cards1">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/product/fleet-management-systems.png"
                                 src="~/images/upload/thbsoftwaresolution/product/fleet-management-systems.png" class="img-fluid" alt="life-at-THB">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Fleet Management</h3>
                        </div>
                    </div>

                    <div class="card " id="card-homepage-6cards2">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/product/Automation.jpg"
                                 src="~/images/upload/thbsoftwaresolution/product/Automation.jpg" class="img-fluid" alt="careers-benefits">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Office Automation </h3>
                        </div>
                    </div>

                    <div class="card  external-link no-share" id="card-homepage-6cards3">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/product/erp-solutions.jpg"
                                 src="~/images/upload/thbsoftwaresolution/product/erp-solutions.jpg" class="img-fluid" alt="careers-change-room">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">ERP solutions</h3>
                        </div>
                    </div>

                    <div class="card  external-link no-share" id="card-homepage-6cards3">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Career/nw_pd (5).jpg"
                                 src="~/images/upload/thbsoftwaresolution/Career/nw_pd (5).jpg" class="img-fluid" alt="careers-change-room">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">THB Institution Management</h3>
                        </div>
                    </div>

                    <div class="card  external-link no-share" id="card-homepage-6cards3">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Career/nw_pd (2).jpg"
                                 src="~/images/upload/thbsoftwaresolution/Career/nw_pd (2).jpg" class="img-fluid" alt="careers-change-room">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Finance Management</h3>
                        </div>
                    </div>

                    <div class="card  external-link no-share" id="card-homepage-6cards3">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/product/Embedded-Systems.jpg"
                                 src="~/images/upload/thbsoftwaresolution/product/Embedded-Systems.jpg" class="img-fluid" alt="careers-change-room">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Embedded System Products</h3>
                        </div>
                    </div>

                    <div class="card  external-link no-share" id="card-homepage-6cards3">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/product/Inventory-management-system.png"
                                 src="~/images/upload/thbsoftwaresolution/product/Inventory-management-system.png" class="img-fluid" alt="careers-change-room">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">THB Inventory Management System (TIMS)</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="more-results more-results-d text-center loadSpace" id="loadclasshomepage6cards" style="display:none">
                <span class="more-link-up loadmore-homepage6cards-cardmodulef ga-lazyloading-icon-homepage6cards-cardmodulef" data-lazyload="lazy-load-cardmodulef"></span>
                <span class="loadmore-homepage6cards-cardmodulef ga-lazyloading-icon-homepage6cards-cardmodulef" data-lazyload="lazy-load-cardmodulef">Load More Stories</span>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    try {
        document.getElementsByClassName('waveContainer')[0].remove();
        document.getElementsByClassName('waveContainer')[0].remove();
    }
    catch (err) {
    }
</script>