
@{
    ViewBag.Title = "Industries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar rebrand-breadcrumb-module hidden-xs hero-breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="@Url.Action("Index", "Home")">
                        <span property="name">Home</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    Industries
                    <meta property="position" content="3">
                </li>
            </ol>
        </div>
    </div>
</nav>
<img data-src="~/images/upload/thbsoftwaresolution/navbar-images/industries_picone.jpg"
     src="~/images/upload/thbsoftwaresolution/navbar-images/industries_picone.jpg" 
     style="Height: 455px;width:100%" class="img-responsive" alt="Industries">

<section data-content="cwebinarscardfeatured" class="cards rebranding four webinars-card-featured bg-waves cardModuleRebrand bg6 waveID0" id="webinars-card-featured" style="background-image: linear-gradient(0deg, rgb(238, 240, 244) 0%, rgb(255, 255, 255) 100%);">
    <div class="bg-wrapper" style="opacity: 1;"></div>
    <div class="container">
        <div class="module-title bg-header-title" style="opacity: 1;">
            <h3>
                Industries Focused
            </h3>
        </div>
        <div class="card-listing">
            <div id="webinarscardfeaturedfour" class="row row-eq-height webinarscardfeatured">
                <div>
                    <div class="card " id="card-webinars-card-featured">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Industries/reimagining-retail-with-ai-webinar.jpg" src="~/images/upload/thbsoftwaresolution/Industries/reimagining-retail-with-ai-webinar.jpg" class="img-fluid" alt="AI for retail ">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="white-space:nowrap">
                                WHOLESALE & RETAIL
                            </h4>
                        </div>
                    </div>
                    <div class="card " id="card-webinars-card-featured0">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Industries/intelligence-for-the-speed-of-business.jpg" src="~/images/upload/thbsoftwaresolution/Industries/intelligence-for-the-speed-of-business.jpg" class="img-fluid" alt="AI for retail ">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="white-space:nowrap">
                                HI-TECH
                            </h4>
                        </div>
                    </div>
                    <div class="card " id="card-webinars-card-featured1">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Industries/best-practices-for-virtual-workshops.jpg" src="~/images/upload/thbsoftwaresolution/Industries/best-practices-for-virtual-workshops.jpg" class="img-fluid" alt="AI for retail ">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="white-space:nowrap">
                                LOGISTIC & TRAVEL
                            </h4>
                        </div>
                    </div>
                    <div class="card " id="card-webinars-card-featured2">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Industries/skype-hero.jpg" src="~/images/upload/thbsoftwaresolution/Industries/skype-hero.jpg" class="img-fluid" alt="AI for retail ">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="white-space:nowrap">
                                TELECOM
                            </h4>
                        </div>
                    </div>
                    <div class="card " id="card-webinars-card-featured3">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Industries/security-strategy-webinar.jpg" src="~/images/upload/thbsoftwaresolution/Industries/security-strategy-webinar.jpg" class="img-fluid" alt="AI for retail ">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="white-space:nowrap">
                                UTILITY
                            </h4>
                        </div>
                    </div>
                    <div class="card " id="card-webinars-card-featured4">
                        <div class="img-container img-fluid">
                            <img data-src="~/images/upload/thbsoftwaresolution/Industries/best-practices-for-virtual-workshops.jpg" src="~/images/upload/thbsoftwaresolution/Industries/digital-marketing-webinar.jpg" class="img-fluid" alt="AI for retail ">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="white-space:nowrap">
                                MOBILE APPS
                            </h4>
                        </div>
                    </div>

                    <section class="block-module webinars-text" id="webinars-text">
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 full-width">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="left-side">
                                            <h5 style="font-size:20px">THB provides end-to-end, innovative and comprehensive services that help customers leverage high quality, flexible delivery models for cost efficiency, enhanced skill set, and deep domain expertise</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="more-results more-results-d text-center loadSpace" id="loadclasswebinarscardfeatured" style="display: none;">
            <a id="loadbuttonwebinarscardfeatured" class="more-link-up1 loadmore-webinarscardfeatured-cardmodulee ga-lazyloading-webinarscardfeatured-cardmodulee" data-lazyload-level="2" data-lazyload="lazy-load-cardmodulee" href=" #">
                <span class="more-link-up loadmore-webinarscardfeatured-cardmodulee ga-lazyloading-icon-webinarscardfeatured-cardmodulee" data-lazyload="lazy-load-cardmodulee"></span>
                <span class="loadmore-webinarscardfeatured-cardmodulee ga-lazyloading-icon-webinarscardfeatured-cardmodulee" data-lazyload="lazy-load-cardmodulee">Load More Stories</span>
            </a>
        </div>

    </div>
    <div class="waveContainer"><div class="wave61" style="opacity: 0; transform: matrix(1, 0, 0, 1, 17, 70);"></div><div class="wave62" style="opacity: 0; transform: matrix(1, 0, 0, 1, 34, 50);"></div></div>
</section>