
@{
    ViewBag.Title = "Innovation_Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid" id="agile-hero">
    <section id="banner-section" class="hero-module hero-module-G-slider hero-rebrand-G">
        <div class="banner">
            <!-- Carousel
            ================================================== -->
            <div id="ModuleGCarousel" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner" role="listbox">

                    <div class="item fit-to-width active" data-position="1" style="background-image: url(&quot;/images-used/upload/thbsoftwaresolution/serv_bann2.jpg&quot;);">


                        <img data-src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" class="slides" alt="agile delivery">                <div class="container">
                            <div class="carousel-caption">
                                <a href="" class="rebrandAccessBuilt " target="_blank">
                                    <div class="hero-feature-title " target="_blank">
                                        <h1 class="feature-title fadeInUp animated">
                                            Innovation Center
                                        </h1>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            RESEARCH AND DEVELOPMENT
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Research and development – R&D – are the process by which a company works to create new technology, products, services, or systems that it will either use or sell. Along with creating new products and adding features to old ones, investing in R&D connects various parts of a company's strategy and business plan, such as marketing and cost reduction.<br>
                <p>R&D (Research & Development) plays a very important role in the success of a business. Every failure in a R&D effort increases the pressure to perform. R&D helps a business to have a competitive edge over its competitors. It is the R&D function that develops plans much ahead other functions.</p>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/Research-and-Development.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            Data Science:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/data-science.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from structured and unstructured data. We help companies to monetize their data with help of Data Science.
                <br>
                And We use data science as a "concept to unify statistics, data analysis, machine learning and their related methods" in order to "understand and analyze actual phenomena" with data .
                <br />
                We help to bring in business Optimized supply chain management, Improved production efficiency, Personalized customer experience Sales effectiveness, Customer behavior prediction.
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            Business Intelligence:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Business intelligence (BI) comprise the strategies and technologies used by enterprises for the data analysis of business information. Business Intelligence tools helps in Accurate, Accessible and Actionable way of doing business to save time and Resources. We provide new effective strategy based on insights can provide businesses with a competitive market advantage and long-term stability.<br>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/Business-Intelligence.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            Performance Monitoring:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/Performance-Monitoring.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                We are working Performance monitoring research which provides a method of assessing the effectiveness of a marketing plan once that plan has been agreed upon. Performance monitoring may also look at the product or service verses competitors in the market, demand, pricing, penetration and the wider economic situation. This form of research is most often used to ensure that marketing plans do not deviate from their proposed path, although it can also be utilized to spot where a change of course may be beneficial if the initial plan was not actually idea
                <br>
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            Optimization and Tuning techniques High Scale servers:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Performance tuning is the improvement of system performance. Typically, in computer systems, the motivation for such activity is called a performance problem, which can be either real or anticipated. Most systems will respond to increased load with some degree of decreasing performance. A system's ability to accept higher load is called scalability, and modifying a system to handle a higher load is synonymous to performance tuning.
                <br>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/Optimization-and-Tuning-techniques-High-Scale-servers.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            RPA:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/rpa.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                We help to bring out the robots out of human. The solutions we provide which help better accuracy of tasks, enhance throughput, reduce costs and can be scaled depending on the business application.
                <br>
                An RPA approach to streamline internal processes, where people and technology work together in harmony, enables better insight into trends and opportunities for businesses.
                <br />
                Robotic Process Automation (RPA) works best with rule-based, regular tasks that require manual inputs. As the software robot uses other application UIs, very few modifications, if any are required to implement the automation.
                <br />
                <ul class="Bullet-for-RTE">
                    <p>
                        Here are the top 5 benefits of implementing RPA software for your company.
                    </p>
                    <li>
                        Reduced cost: By automating tasks, cost savings of nearly 30% can be achieved. Software robots also cost less than a full-time employee.
                    </li>
                    <li>
                        Better customer experience: Deploying RPA frees up your high-value resources to be put back on the front line ensuring your customer success.
                    </li>
                    <li>
                        Lower operational risk: By eliminating human errors such as tiredness or lack of knowledge, RPA reduces the rate of errors thereby providing a lower level of operational risk.
                    </li>
                    <li>
                        Improved internal processes: In order to leverage AI and RPA, companies are forced to define clear governance procedures. This, in turn, allows for faster internal reporting, on-boarding and other internal activities.
                    </li>
                    <li>
                        It does not replace existing IT systems: One of the biggest advantages of using a virtual workforce, or an RPA bot is that it does not require you to replace your existing systems. Instead, RPA can leverage your existing systems, the same way a human employee can.
                    </li>
                </ul>
                <br />
                <p>
                    We help to provide high-end technologies to make the day-to-day of running a business easier and more cost-efficient. Our RPA services include RPA strategy, RPA proof of value, RPA business case development, RPA production rollout, and RPA managed services.
                </p>
                <p>
                    THB helps companies improve services by connecting their existing systems to robot- aware technologies, that increase speed and efficiency and pave the way for your digital transformation.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            AR/VR:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                We help businesses to define Augmented Reality Usecase that can enhance customer engagement and Create an interactive and immersive Virtual Reality experiences and help your customers to understand your products and offerings efficiently.<br>
                <p>We help to build high-performance apps with virtual reality application development to engage target audiences with immersive user experiences. Our virtual reality application development services enhance brand reputation with impactful advertising, 3D product modeling, geo-filtering, interactive images, and immersive app experiences.</p>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/AR-VR.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            IOT:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/iot.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                IoT has made complete automation possible. The solutions like Smart cities, Smart Home, Smart Factory, and Connected Vehicle are possible only because of IoT.
                <br />
                IoT has differently shaped traditional industries. It is based on ICT (Information and Communication Technology). It has combined both the physical and digital worlds together.
                <br>
                This technology will indeed help in streamlining business processes and thereby boost productivity to a great extent. It will give you the ability to provide better products and services.
            </div>
        </div>
    </div>
</section>


<div class="module-title bg-header-title">

    <p>Making use of the innovative open source tools and technologies is necessary to develop new IoT service and applications that can adapt the rapidly evolving digital ecosystem.</p>
    <p>
        We help to explore the capabilities of the futuristic technology and develop solutions in a favor of your business. The IOT can be used to develop simple or business solutions. IOT will enable devices to connect with each other and exchange the information, which can be used for variety of purposes.
    </p>

</div>


<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            CENTER OF EXCELLENCE-Alignment to recent framework launches on various platforms.
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Center of excellence (COE) brings together people from different disciplines and provides shared facilities/resources. In business, and especially marketing, COEs should go further, in order to do what Gartner describes as, “concentrating existing expertise and resources in a discipline or capability to attain and sustain world-class performance and value.” These long-term groups combine learning and oversight around a specific area, driving the organization to shift across multiple disciplines together.<br />
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/Center-of-Excellence.png">        </div>
        </div>
    </div>
</section>

<div class="module-title bg-header-title">
    <ul class="Bullet-for-RTE">
        <p>
            Here are four steps to rolling out a COE:
        </p>
        <li>Identify the team members: Once you’ve defined the scope and nature of the COE, identify who should be a part of it, how often it will meet, and what information needs to be shared and agreed upon in each meeting.</li>
        <li>
            Regular meetings: Schedule regular meetings and make sure that the agenda is shared with the entire group prior to the meetings. Be sure that reporting and data, pertinent to the conversation, is distributed ahead of time.
        </li>
        <li>
            Set goals and timelines: Within the COE, develop specific goals metrics and timelines upon which the COE will measure and evaluate success, so that there is a consistent drive towards improvement.
        </li>
        <li>
            Create your resource hub: Establish a resource hub to share tools, templates, and updates on the COE’s activities — whether that’s a Slack channel or part of your project management tool.
        </li>
    </ul>
</div>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            SKILLED PROFESSIONAL SERVICES:
        </h2>
        <p>
            If you want to make in the Professional Services industry, we've rounded up the key qualities you'll need to excel.
        </p>
        <li class="Bullet-for-RTE">Top academics</li>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                This industry is one of the most prestigious and so you'll need (and be expected to have) the academic intellect to match. The usual basic requirement is to have attained/be predicted at least a 2.1 in your undergraduate degree; at least 340 UCAS points (excluding General Studies and re-sits) and a minimum of a B at GCSE (or equivalent) for Maths and English.<br>
                <p>In addition to your academics, you'll also have evidence of hard work in your extra- curricular activities and work experience.</p>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/1.Top-academics.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            An analytical mind
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/2.-An-analytical-mind.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                Professional services put you at the heart of the business world - so keep up to date with current affairs whilst at university - your competitors certainly will A career in the professional services sector does tend to be more weighted towards numbers and problem solving so you need to have the ability (and interest) to draw conclusions from data
                <br />
                Of course, you can practice your skills more once you start working, but you need to choose modules at university which require logic, stats and numbers, or look to do this in your extra-curricular activities.

            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            Emotional intelligence
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Don't let the daily stats and figures dazzle you into thinking that this isn't a people- focused industry. Professional Services is a very personal sector, and by that we mean you'll be working with clients in tight-knit teams. You'll need to demonstrate that you can work alongside different people, with a varied skill set. Empathy, patience and the ability to listen to what is being said are key. prioritize team-based extra-curricular activities at university to show that you have built these skills.
                <br>
                <p>You need to be focused, committed, hardworking, organized (work can build up very quickly!), being agile enough to change quickly and most importantly, you need to be enthusiastic.</p>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/3.-Emotional-intelligence.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            Commercial awareness
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/4.-Commercial-awareness.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                Professional services put you at the heart of the business world - you need to ensure that you have a good commercial brain to keep up. This means that you need to know what is going on that might affect the work you do. Keep up with the news with broadsheet business papers, financial radio and websites, and also the weekly Bright Network Commercial Awareness update, which will be emailed to you every week.
                <br />
            </div>
        </div>
    </div>
</section>


<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            Resilience
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Like Banking, life in Professional Services is fast-paced and challenging. When (not if) things go wrong, you'll need to have the resilience to dust yourself down and get going again.
                <br>
                <p>Most professional services firms use a leveraging system to maximize profitability. For instance, junior employees usually earn a relatively low salary. They accept lower pay because they want to gain experience and have the opportunity to work closely with senior partners ("finders") to acquire their valuable knowledge.</p>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Innovation-Center/5.-Resilience.png">        </div>
        </div>
    </div>
</section>


<section class="rebrand-contact-us-module-A Contact" id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 rebrand-wrapper col-md-offset-1 ContactAnimate contactShowed" id="ContactAnimate">
                <!-- for the image !-->
                <!-- for the content !-->
                <div class="rebranding-contactus-content">


                    <div class="col-sm-7 col-md-7 col-xs-12">

                        <div class="contactus-content">

                            <div id="componentlayout440517" class="row ">
                                <div id="componentlayout440518" class="col-sm-6 ">
                                    <div id="componentlayout440519" class="touch_left flt ">
                                        <div id="componentlayout440520" class="comp_name flt ">
                                            <p>
                                                <span style="font-size: 10pt;">
                                                    <span style="font-family: Arial;">
                                                        <big>
                                                            THB Software Solutions
                                                            Pvt Ltd
                                                        </big>
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440521" class="add_blocks mar_bott flt ">
                                            <p>
                                                &nbsp;<span style="font-family: Arial;"> </span><span style="font-family: Arial;">
                                                    <span style="font-size: 10pt;"><big><small><b>Address</b></small></big></span>
                                                </span><span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            <br>
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                            <p><span style="font-family: Arial;"> </span></p>
                                            <p style="text-align: left;">
                                                <span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            #1, Flat-202, 2nd Floor,
                                                            BVR Lake front building, <br>
                                                            Veerannapalya Main Road, A.C. Post, Nagavara,Bengaluru-45
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440522" class="add_blocks flt ca_cl ">
                                            <p>
                                                <b>Email</b><br>
                                                <small><span style="font-family: Arial;"><big>hrindia@techhighbrows.com</big></span></small>
                                            </p>
                                        </div>
                                        <div id="componentlayout458259" class="add_blocks flt ca_cont ">
                                            <p>
                                                <b>Contact</b><br>
                                                9739466719 / 9108855890 / 9945194330
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.9045845294413!2d77.61119331484409!3d13.041745090809883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17dcdb06ce4f%3A0xe6ce8c3ee56527e!2sTHB%20Software%20Solutions%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1572323698948!5m2!1sen!2sin"
                                            style="border:0;" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>
                                </p>
                            </div>

                        </div>

                        <!-- for the button !-->
                    </div>

                    <div id="componentlayout440523" class="col-sm-4 col-md-4 col-xs-6 pull-right">
                        <div id="componentlayout440524" class="touch_right flt ">
                            <div id="componentlayout440525" class="form_head flt ">
                                <p>
                                    write us<br>
                                    <span>Get in touch</span>
                                </p>
                            </div>
                            <div id="componentlayout440526" class="form_div flt ">
                                <style type="text/css">
                                    .form_div label {
                                        display: none;
                                    }

                                    .form_div .form-group {
                                        float: right;
                                        width: 100%;
                                    }

                                        .form_div .form-group .col-md-3 {
                                            float: right;
                                            width: 100%;
                                        }

                                            .form_div .form-group .col-md-3 .form-control {
                                                float: right;
                                                width: 100%;
                                            }

                                        .form_div .form-group.wd_50 {
                                            float: right;
                                            width: 50%;
                                        }

                                        .form_div .form-group .col-md-3 .form-control {
                                            float: right;
                                            width: 100%;
                                            border: 1px solid rgb(159, 159, 159);
                                            border-radius: 0px;
                                            box-shadow: none;
                                            height: 45px;
                                            margin-bottom: 15px;
                                            font-family: "Muli", sans-serif;
                                            font-weight: 600;
                                        }

                                    .form_div #Message {
                                        height: 150px;
                                    }

                                    .form_div .form-group .col-sm-10 {
                                        padding: 0px;
                                        margin: 0px;
                                        float: right;
                                        width: 100%;
                                    }

                                    /*.form_div .submitbutton input {
                                        padding: 10px 35px;
                                        font-family: "Muli", sans-serif;
                                        box-shadow: none;
                                        border: none;
                                        font-size: 16px;
                                        font-weight: 600;*/
                                    }
                                </style>
                                <div id="messagediv5759" style="padding-top:5px;"></div>
                                <form method="post" class="form-inline" name="chkform" value="" enctype="multipart/form-data" action="/page/contact.html">
                                    <fieldset>
                                        <input type="hidden" name="formname" value="chkform1">
                                        <input type="hidden" name="pageid" value="about-us">
                                        <input type="hidden" name="formid" value="5759">
                                        <input type="hidden" id="form_redirect5759" name="form_redirect5759" value="">
                                        <input type="hidden" id="sitename" name="sitename" value="thbsoftwaresolution">
                                        <div id="success5759" style="display:none">
                                            <div class="successMessages" id="successmessage">
                                                <div>
                                                    <img src="/images/icons/iconInformation.gif">
                                                    Thank You
                                                </div>
                                            </div>
                                        </div>
                                        <div class="outercoverfrontend" style="font-size:12px;">
                                            <div class="allfieldsoutercover">
                                                <div class="form-group fg wd_50 ">
                                                    <label for="Name" class="col-md-4 control-label fl wd_50">
                                                        Name
                                                        <span> *</span>
                                                    </label>
                                                    <div class="col-md-3  col wd_50">
                                                        <span class="help-block ms wd_50" id="message57591" style="font-size:9px;color:red"></span>
                                                        <input type="text" id="Name" name="Name" title="Name" placeholder="Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group fg wd_50 ">
                                                    <label for="Email" class="col-md-4 control-label">
                                                        Email
                                                        <span> *</span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <span class="help-block" id="message57592" style="font-size:9px;color:red"></span>
                                                        <input type="text" id="Email" name="Email" title="Email" placeholder="Email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group fg ">
                                                    <label for="Message" class="col-md-4 control-label fl">Message</label>
                                                    <div class="col-md-3  col">
                                                        <span class="help-block ms" id="message57593" style="font-size:9px;color:red"></span>
                                                        <textarea class="form-control" name="Message" id="Message" title="Message" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">var jarray = new Array(); jarray[0] = "Name_Name"; jarray[1] = "Email_Email"; jarray[2] = "Message_Message";</script>
                                            <style type="text/css">
                                                .outerfieldcover input, .outerfieldcover textarea {
                                                    font-family: verdana;
                                                    font-size: 12px;
                                                    font-weight: bold;
                                                    color: #cdcdcd;
                                                }
                                            </style>
                                            <script type="text/javascript">jQuery('.inputtext').each(function () { this.value = jQuery(this).attr('title'); jQuery(this).addClass('text-label'); jQuery(this).focus(function () { if (this.value == jQuery(this).attr('title')) { this.value = ''; jQuery(this).removeClass('text-label'); } }); jQuery(this).blur(function () { if (this.value == '') { this.value = jQuery(this).attr('title'); jQuery(this).addClass('text-label'); } }); }); jQuery(document).ready(function () { jQuery('.submitbutton input').click(function () { jQuery('.inputtext').each(function () { var check = jQuery(this).attr('name') + '_' + jQuery(this).attr('value'); if (jQuery.inArray(check, jarray) > -1) { this.value = jQuery(this).attr('value'); this.value = ''; } }); }) }); jQuery.noConflict();</script>

                                            <div class="col-sm-3 col-md-3 col-xs-12 contact-button pull-right fadeIn zoomIn animated">
                                                <a href="#" class="btn contactus-btn floating pull-right animated " type="submit" value="Submit" onclick="return validCaptcha();">Submit</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
