
@{
    ViewBag.Title = "Orientation_Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar rebrand-breadcrumb-module hidden-xs flame-1920">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="@Url.Action("Index", "Home")">
                        <span property="name">Home</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    Orientation Center
                    <meta property="position" content="2">
                </li>
            </ol>
        </div>
    </div>
</nav>

<section class="container-fluid" id="agile-hero">
    <section id="banner-section" class="hero-module hero-module-G-slider hero-rebrand-G">
        <div class="banner">
            <!-- Carousel
            ================================================== -->
            <div id="ModuleGCarousel" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner" role="listbox">
                    <div class="item fit-to-width active" data-position="1" style="background-image: url(&quot;/images-used/upload/thbsoftwaresolution/serv_bann2.jpg&quot;);">
                        <img data-src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" class="slides" alt="agile delivery">
                    </div>
                </div>
            </div>
    </section>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">        
        <h2 class="txt-pr text-center">
            Advanced Java Technologies:
        </h2>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
              <p>The Development of Secured and Enterprise Web Applications and Rest API’s for your organization is produced by us with keeping everything in mind. The Quality of the product, Accuracy of the product (Provides accurate results), Delivering on time, Efficient Payment, the effective product.<br></p>
                <p>The most secured and powerful technology growing rapidly in the market, for the development of Enterprise applications.</p>
                        <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/advanced-java.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">Mobility (Android and IOS):</h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/android.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                Mobile apps have become a need and are recently undergone a revolutionary change, and which are required for all organizations like small, medium and large enterprises. Every mobile application needs charming visualization and astonishing style with solid development. We provide answer to your needs. Mobile apps have a great ability to build a market for your business. We help you utilize this capacity to reach a larger section of customers by just a few clicks of your palm. we help you expanding your market by using the mobile platform at its best with help of cutting-edge technology. We can strategies your mobile app techniques, which can lead you to the highly profitable business and design your app ideas into the prototypes & wireframes as per the specifications of business standards. We will include creativity, skills, practical and acceptable, altogether in mobile app development. Our QA team assure quality more than anything. Get a glitch-free, established and approved mobile apps with us.
                <br>
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            Cloud Computing:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Cloud computing is the on-demand availability of computer system resources, especially for storing and accessing data over the internet. The term is generally used to describe data centers available to many users over the Internet and doesn't store any data on the hard disk of your PC. Cloud computing helps you to access your data from a remote server.” There's are various types of cloud computing services are available in the market. Cloud computing services range from full applications and development platforms to servers, storage, and virtual desktops. We Make it simple to launch in the cloud and scale up as you grow-with an instinctive control panel, predictable pricing, team accounts and many more. THB helps to transform their IT environment to the best-in-class Cloud Computing Services for all organizations. We deliver cloud computing services that provide organizations with a competitive edge and which are highly-effective and reliable .Our cloud solutions enable organizations to improve productivity and reduce IT resource requirements, in addition to reducing the time-to- market and lowering costs.<br>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Cloud-Computing.png">        </div>
        </div>
    </div>
</section>

<div class="module-title bg-header-title">
    <h2>
        Why Cloud Technology Adoption?
    </h2>
    <p>Cloud computing offers businesses with unmatched flexibility in terms of usage policies, scalability and significant bottom line savings by improving efficiency, eliminating the need for a large security and maintenance staff, and lowering the cost of server space.</p>
    <p>For this reason, cloud technology proves to be an added benefit for companies that often experience rapid spikes of growth in their businesses, requiring greater resource availability on demand.</p>
</div>


<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            Telecom OSS/BSS:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Telecom-OSS-BSS.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                Our OSS / BSS services includes solutions to support the processes of network configuration, rollout, and service assurance with planning, billing, customer relations management (CRM), monitoring of network performance. The main feature of our solutions are flexibility, scalability, and functionality. We give the users the chances to quickly and easily introduce changes and custom tailor our solutions according to their specific requirement. The systems are adaptable, and they can grow with the telecom business together, without limits. And our systems cover very wide range of functionalities expected by telecoms. The business advantage of using our systems is having very good solution for very realistic price. As we understand the complexity of OSS / BSS solutions we never leave our customers on their own. After the system is implemented, we provide knowledge transfer and very strong support.
                <br>
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            Embedded Systems – RTLinux, QNX, VxWorks:
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                THB helps to develop full product solutions from design, manufacturing, certification, and life-cycle management with Combining strong chip and systems. Adaptability of embedded systems to new changes becomes a key component in Consumer Electronics, Industrial Automation, Medical Devices, etc. Our aim is to share our embedded system expertise with customers so that they can get their products to market faster, with high quality and complete functionality. We provide complete solution for embedded systems development from single source like Product, Support and Services with portable, flexible, scalable, and maintainable hardware and software is critical to sustaining market leadership.
                <br>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Embedded-Systems.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">AI/ML/DL – Python, R Programming, Keras, TensorFlow, Apache Spark:</h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/AI-ML-DL.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">
                We help companies to develop AI-driven products and solutions with machine learning tools and algorithms. Our team has sound knowledge and experience in designing, implementing and integrating Artificial Intelligence solutions within the customer’s business environment.
                <br>
                We help enterprises in creating intelligent machines, systems that can learn from experience, systems that learn from experience on large data sets with the help of leveraging development tools such as Artificial Intelligence (AI), Machine Learning (ML), Deep Learning (DL) and also Artificial Neural Networks (ANN) -refers to models of human neural networks that are designed to help computers learn. Our machine learning firm helps in automating business process on different levels and decision making about the resources to routines tasks like e-mail sending and form filling.
                <br />
                AI helps machines like robot, refrigerator, a car, or a software application to act smart. Systems that get smarter and smarter over time without human intervention with the help of ML. Deep Learning (DL) is ML but applied to large data sets.
            </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            TEST AUTOMATION SCRIPTING
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                Software & application testing is considered to be important by organizations all over the globe. It is one such crucial activity that validates the functionality, performance, quality & other vital aspects of a software. But, with the ever-increasing codebase and added functionality, manual testing requires considerable time and effort, hence turning as inefficient & costly day-by-day. To avoid such issues, Manual testing is switching into Automation testing to increase their quality & effectiveness of Applications. Software application Testing ensures that a particular program or application functions properly.<br>
                <p>Software applications and products have a number of variations in terms of features they support and processes they implement.</p>
                <ol>
                    <p>
                        A lifecycle for Application Testing involves four stages.
                    </p>
                    <li>Design test plans based on application requirements</li>
                    <li>Develop manual test cases and automated test scripts</li>
                    <li>Execute functional tests to validate application requirements</li>
                    <li>Execute load tests and tune application performance</li>
                </ol>               
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/Test-Automation-Scripting.png">        </div>
        </div>
    </div>
</section>

<section class="block-module block-module-careers work-flexibly" id="work-flexibly">
    <div class="container">
        <h2 class="txt-pr text-center">
            DEVOPS – OPENSHIFT
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/DevOpsOpenShift.png"></div>
            <div class="col-md-5 col-md-offset-0 col-sm-6  col-sx-12">

                DevOps emphasizes collaboration between development and operations team to promote code to production as quickly as possible.
                <br />
                DevOps is a set of practices that combines software development and information- technology operations which aims to shorten the systems development life cycle and provide continuous delivery with high quality. Our DevOps engineers help guide your transition to the cloud by architecting & implementing custom enterprise-grade cloud solutions that are flexible, fully scalable & highly available. We also enable complete management & automated deployment of your apps through custom CI/CD pipeline development & configuration management tools.
                <br>
                DevOps implementation requires adequate planning and guidance from experts. We can assess an organization’s existing environment in terms of processes including agile adoption, tools, automation, solution architecture, cloud services and culture accordingly advice on well suited DevOps approach.
                <p>
                    Few of The Benefits…
                    Improved customer satisfaction
                </p>
                <ul class="Bullet-for-RTE">
                    <li>
                        Aligning Information Technology and business
                    </li>
                    <li>
                        Agility with increased speed to market
                    </li>
                    <li>
                        Be ready to the changing market and customer demands
                    </li>
                    <li>
                        Improved software stability and quality
                    </li>
                    <li>
                        Team empowerment
                    </li>
                    <li>
                        Better ROI of data
                    </li>
                    <li>
                        Greater business value
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="block-module block-module-careers feel-fully-rewarded" id="feel-fully-rewarded">
    <div class="container">
        <h2 class="txt-pr text-center">
            PROJECT MANAGEMENT
        </h2>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sx-12">
                The five important phases of project management include conception and initiation, planning, execution, performance/monitoring, and project close A project is temporary in that it has a defined beginning and end in time, and therefore defined scope and resources.<br>
                <ul class="Bullet-for-RTE">
                    <p>
                        The five important phases of project management include conception and initiation, planning, execution, performance/monitoring, and project close A project is temporary in that it has a defined beginning and end in time, and therefore defined scope and resources.
                    </p>
                    <li>The need to create a descriptive document, which contains vital information such as name of project, estimated timeframe, cost and business objectives.</li>
                    <li>
                        The project needs to be evaluated on a regular basis to ensure that the project is meeting its target and stays in its course.
                    </li>
                    <li>
                        Selection of the team players, who will work towards achieving the project's
                        objectives.
                    </li>
                </ul>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-sx-12">           <img alt="" src="~/images/upload/thbsoftwaresolution/Orientation-center/project-management.png">        </div>
        </div>
    </div>
</section>

<div class="module-title bg-header-title">
    <h2>
        Benefits of Project Portfolio Management
    </h2>
    <p>Project portfolio management ensures that projects have a set of objectives, which when followed brings about the expected results. Furthermore, PPM can be used to bring out changes to the organization which will create a flexible structure within the organization in terms of project execution. In this manner, the change will not be a threat for the organization.</p>
    <ul class="Bullet-for-RTE">
        <p>
            The following benefits can be gained through efficient project portfolio management:
        </p>
        <li>PPM emphasizes selecting the right set of projects according to business goals, risk, resource availability, and other criteria.</li>
        <li>
            Focus on objective business goals: <br />
            37% of executives report the primary reason for organizational failure is a lack of clearly defined goals and objectives without the necessary targets and milestones to measure progress. With clearly defined goals and a strategy to get there, organizations can use PPM to ensure all approved projects meet the needs of the business.
        </li>
        <li>
            More accurate project performance data
        </li>
        <li>
            Increased timely project deliveries
        </li>
        <li>
            Decreased organizational risk
        </li>
        <li>
            Increased ROI
        </li>
    </ul>
</div>


<section class="rebrand-contact-us-module-A Contact" id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 rebrand-wrapper col-md-offset-1 ContactAnimate contactShowed" id="ContactAnimate">
                <!-- for the image !-->
                <!-- for the content !-->
                <div class="rebranding-contactus-content">
                    <div class="col-sm-7 col-md-7 col-xs-12">
                        <div class="contactus-content">
                            <div id="componentlayout440517" class="row ">
                                <div id="componentlayout440518" class="col-sm-6 ">
                                    <div id="componentlayout440519" class="touch_left flt ">
                                        <div id="componentlayout440520" class="comp_name flt ">
                                            <p>
                                                <span style="font-size: 10pt;">
                                                    <span style="font-family: Arial;">
                                                        <big>
                                                            THB Software Solutions
                                                            Pvt Ltd
                                                        </big>
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440521" class="add_blocks mar_bott flt ">
                                            <p>
                                                &nbsp;<span style="font-family: Arial;"> </span><span style="font-family: Arial;">
                                                    <span style="font-size: 10pt;"><big><small><b>Address</b></small></big></span>
                                                </span><span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            <br>
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                            <p><span style="font-family: Arial;"> </span></p>
                                            <p style="text-align: left;">
                                                <span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            #1, Flat-202, 2nd Floor,
                                                            BVR Lake front building, <br>
                                                            Veerannapalya Main Road, A.C. Post, Nagavara,Bengaluru-45
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440522" class="add_blocks flt ca_cl ">
                                            <p>
                                                <b>Email</b><br>
                                                <small><span style="font-family: Arial;"><big>hrindia@techhighbrows.com</big></span></small>
                                            </p>
                                        </div>
                                        <div id="componentlayout458259" class="add_blocks flt ca_cont ">
                                            <p>
                                                <b>Office landline</b><br>
                                                080 40997771
                                            </p>
                                        </div>
                                        <div id="componentlayout458259" class="add_blocks flt ca_cont ">
                                            <p>
                                                <b>Phone number</b><br>
                                                7406418999
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- for the button !-->
                    </div>

                    <div id="componentlayout440523" class="col-sm-4 col-md-4 col-xs-6 pull-right">
                        <div id="componentlayout440524" class="touch_right flt ">
                            <div id="componentlayout440526" class="form_div flt ">
                                <style type="text/css">
                                    .form_div label {
                                        display: none;
                                    }

                                    .form_div .form-group {
                                        float: right;
                                        width: 100%;
                                    }

                                        .form_div .form-group .col-md-3 {
                                            float: right;
                                            width: 100%;
                                        }

                                            .form_div .form-group .col-md-3 .form-control {
                                                float: right;
                                                width: 100%;
                                            }

                                        .form_div .form-group.wd_50 {
                                            float: right;
                                            width: 50%;
                                        }

                                        .form_div .form-group .col-md-3 .form-control {
                                            float: right;
                                            width: 100%;
                                            border: 1px solid rgb(159, 159, 159);
                                            border-radius: 0px;
                                            box-shadow: none;
                                            height: 45px;
                                            margin-bottom: 15px;
                                            font-family: "Muli", sans-serif;
                                            font-weight: 600;
                                        }

                                    .form_div #Message {
                                        height: 150px;
                                    }

                                    .form_div .form-group .col-sm-10 {
                                        padding: 0px;
                                        margin: 0px;
                                        float: right;
                                        width: 100%;
                                    }
                                </style>
                                <div id="messagediv5759"></div>
                                <div style="padding-top:5px;padding-right:25px;">
                                    <iframe width="325" height="280" frameborder="0" src="https://www.bing.com/maps/embed?h=280&w=325&cp=13.041713~77.613174&lvl=11&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
                                    <div style="white-space: nowrap; text-align: center; width: 325px; padding: 6px 0;">
                                        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=13.041713~77.613174&amp;sty=r&amp;lvl=11&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
                                        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=13.041713~77.613174&amp;sty=r&amp;lvl=11&amp;rtp=~pos.12.979200000000006_77.60660000000003____&amp;FORM=MBEDLD">Get Directions</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>