
@{
    ViewBag.Title = "Our_clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar rebrand-breadcrumb-module hidden-xs hero-breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="@Url.Action("Index", "Home")">
                        <span property="name">Home</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    Our Clients
                    <meta property="position" content="3">
                </li>
            </ol>
        </div>
    </div>
</nav>

<section class="container-fluid" id="agile-hero">
    <section id="banner-section" class="hero-module hero-module-G-slider hero-rebrand-G">
        <div class="banner">
            <!-- Carousel
            ================================================== -->
            <div id="ModuleGCarousel" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner" role="listbox">
                    <div class="item fit-to-width active" data-position="1" style="background-image: url(&quot;/images-used/upload/thbsoftwaresolution/serv_bann2.jpg&quot;);">
                        <img data-src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" class="slides" alt="agile delivery">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="bg-waves search-module-grid author-result card bg1 waveID0 bg6">
    <div class="bg-wrapper"></div>
    <div class="bg-wrapper" style="opacity: 1;"></div>
    <div class="container">
        <div class="hidden-xs visible-md visible-sm visible-lg">
            <!--tab module start-->
            <div class="grid-tabs">
                <div class="row">
                    <!-- Nav tabs -->
                    <div class="col-lg-9 col-md-9">
                        <div class="grid-wrapper">
                            <div class="search-result-grid" id="myGrid">
                                <ul class="list-inline checkCurrent">
                                    <span class="caption" style="display:none">FILTER BY</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--eo row-->

            </div><!--eo grid tabs-->
        </div><!--eo desktop-->
        <!---for mobile---->
        <!------four grid starts here---->
        <div class="grid-four1" id="myList4" data-variationclass="img-text">
            <div class="col-xs-12 col-sm-12 card-four card-four1" id="search-posts">
                <!--Card Start here-->
                <div class="card-default  img-text" style="margin-left: 0px;">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/plintron_logo.png');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/plintron_logo.png" src="~/images/upload/thbsoftwaresolution/Our-Clients/plintron_logo.png" class="" alt="Plintron logo" title="featured card">
                    </div>
                </div>
                <div class="card-default  img-text">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/rebaca-technologies-squarelogo.png');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/rebaca_logo.png" src="~/images/upload/thbsoftwaresolution/Our-Clients/rebaca-technologies-squarelogo.png" class="" alt="Rebaca logo" title="featured card">
                    </div>
                </div>
                <div class="card-default  img-text">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/e2open_logo.png');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/e2open_logo.png" src="/images/upload/thbsoftwaresolution/Our-Clients/e2open_logo.png" class="" alt="E2Open logo" title="featured card">
                    </div>
                </div>
                <div class="card-default  img-text" style="margin-right: 0px;">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/data-semantics-squarelogo.png');">
                        <img data-src="~/images/upload/thbsoftwaresolution//Our-Clients/DataSemantics_logo.png" src="/images/upload/thbsoftwaresolution//Our-Clients/data-semantics-squarelogo.png" class="" alt="Data Semantics logo" title="featured card">
                    </div>
                </div>
                <div class="card-default  img-text" style="margin-left: 0px;">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/extrieve-technologies-squarelogo.png');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/extrieve.jpg" src="~/images/upload/thbsoftwaresolution/Our-Clients/extrieve-technologies-squarelogo.png" class="" alt="Extrieve logo" title="featured card">
                    </div>
                </div>
                <div class="card-default  img-text">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/ind global_logo.jpg');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/ingGlobal_logo.jpg" src="~/images/upload/thbsoftwaresolution/Our-Clients/ind global_logo.jpg" class="" alt="INDGlobal logo" title="featured card">
                    </div>
                </div>
                <div class="card-default  img-text">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/processware.jpg');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/ProcesswareSystems_logo.png" src="~/images/upload/thbsoftwaresolution/Our-Clients/processware.jpg" class="" alt="Processware Systems logo" title="featured card">
                    </div>
                </div>

                <div class="card-default  img-text" style="margin-left: 0px; margin-right: 0px;">
                    <div class="img-wrapper fit-to-width" style="background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/Envisyslogo.png');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/envisys_logo.png" src="~/images/upload/thbsoftwaresolution/Our-Clients/Envisyslogo.png" class="" alt="Envisys logo" title="featured card">
                    </div>
                </div>

                <div class="card-default  img-text" style="margin-left: 0px;">
                    <div class="img-wrapper fit-to-width" style="width:275px;height:120px;background-image: url('/images/upload/thbsoftwaresolution/Our-Clients/logo_saggezza.png');">
                        <img data-src="~/images/upload/thbsoftwaresolution/Our-Clients/sagezza_logo.png" src="~/images/upload/thbsoftwaresolution/Our-Clients/logo_saggezza.png" style="width:200px;height:100px" class="" alt="ABB Client Stories" title="featured card">
                    </div>
                </div>
                <!--Card End here-->
            </div>
        </div>
        <!--! eo search-grid-view-Result -->
        <!------four grid starts here---->
    </div><!--eo container-->
    <div class="waveContainer"><div class="wave61"></div><div class="wave62"></div></div>
</section>