
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid" id="agile-hero">
    <section id="banner-section" class="hero-module hero-module-G-slider hero-rebrand-G">
        <div class="banner">
            <!-- Carousel
            ================================================== -->
            <div id="ModuleGCarousel" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner" role="listbox">

                    <div class="item fit-to-width active" data-position="1" style="background-image: url(&quot;/images-used/upload/thbsoftwaresolution/serv_bann2.jpg&quot;);">


                        <img data-src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" class="slides" alt="agile delivery">                <div class="container">
                            <div class="carousel-caption">
                                <a href="" class="rebrandAccessBuilt " target="_blank">
                                    <div class="hero-feature-title " target="_blank">
                                        <h1 class="feature-title fadeInUp animated">
                                            PRODUCT OFFERING
                                        </h1>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="content-section content-module-A col-md-10 TextTwo col-sm-10" id="TextTwo">
    <div class="container ">
        <div class="content-container col-md-10">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="txt-pr">
                        PRODUCT OFFERING
                    </h2>
                    <p>THB Software Solutions Pvt Ltd is a firm that works towards leveraging the cutting edge technologies, in order to innovate, transform and provide best applications to the end users. With our sophisticated platform to record constant feedback from the consumers, our products are subjected to continuous enhancements in order to solve the world’s most dynamic challenges that our customers face. Our core products encompass the flavor of trending technologies which are well crafted.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum01">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Guest Infotainment Box
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>The refined guest who come expect sophistication and indulgence must get the level of convenience and comfort extended which is paramount to creating an experience of distinction.GIB is an innovative software product meant to take care of guests’ infotainment. It helps the guests with all the kind of information of their interests, like movie halls, tourist spots, restaurants, historlcal information of place, etc. It is platform where guest would have access to all his/her favorite movies, songs, mutlimedia.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum02">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        THB Inventory Management System (TIMS)
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>This is an excellent software tool which has a proven inventory management capabilities which is successfully deployed and used by many of our esteemed clients running huge businesses.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum03">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        THB Inventory Management System (TIMS)
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>This is an excellent software tool which has a proven inventory management capabilities which is successfully deployed and used by many of our esteemed clients running huge businesses.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum04">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Office Automation
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>
                            THB has been constantly investing on various automation ideas and brought many into reality. Various automation software products have been already launched and many such new launches are made frequently.
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum05">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        ERP solutions
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>Enterprise resource planning is the ability to deliver an integrated suite of business applications. ERP tools share a common process and datamodels, covering broad and deep operational end to end processes, such as those found in Finance, HR, Distribution, Manufacturing, Service and the Supply Chain. Our ERP solution delivers best in class enterprise management solution, suiting the needs of most of the business be it SMBs or Huge businesses. It promises high quality process orientation and enables smooth operations of the organisation.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum06">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        THB Institution Management
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>School Information Management System (SIM) is a software product to manage school data and transactions. It takes care of Students, Staff, Wards and Managerial Staff etc. Our unique solution of school management focuses on the efficient management of all the resources and assets. It also plays the role of a simple ERP solution which takes care of interfacing between multiple departments and provides a single dashboard for reporting. It helps management to take critical decisions in a timely and most efficient manner.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum07">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Finance Management
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>Finance management focuses on ratios,equity and debt. It is useful for portfolio management, distribution of dividend, capital raising, hedging, and looking after fluctuations in foriegn currency and product cycles.It helps the Financial managers to do research and based on the reserach, decide the capital obtained in order to fund the company's assets as well as maximizing the value of firm for all the stakeholders.Our niche Finance Management product refers to the efficient and effective management of money (funds) in such a manner as to accomplish the objectives of the orgnization.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-section content-section-E Summary col-md-10 col-sm-10" id="sum08">
    <div class="container">
        <div class="content-container bg-content col-lg-10 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Fleet Management
                    </h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 14px; line-height: 22px; font-family: 'Segoe UI'; color: #424242;">
                        <p>Fleet Management Software/Fleet telematics solution enables companies and organizations to manage, organize, and coordinate their work vehicles from central platform or Console. Our FMS solutions enables to organize all the Fleet operations effectively with reporting. It is a boon to the businessmen who deal with renting/leasing/selling their vehicles as their primary business focus.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="rebrand-contact-us-module-A Contact" id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 rebrand-wrapper col-md-offset-1 ContactAnimate contactShowed" id="ContactAnimate">
                <!-- for the image !-->
                <!-- for the content !-->
                <div class="rebranding-contactus-content">


                    <div class="col-sm-7 col-md-7 col-xs-12">

                        <div class="contactus-content">

                            <div id="componentlayout440517" class="row ">
                                <div id="componentlayout440518" class="col-sm-6 ">
                                    <div id="componentlayout440519" class="touch_left flt ">
                                        <div id="componentlayout440520" class="comp_name flt ">
                                            <p>
                                                <span style="font-size: 10pt;">
                                                    <span style="font-family: Arial;">
                                                        <big>
                                                            THB Software Solutions
                                                            Pvt Ltd
                                                        </big>
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440521" class="add_blocks mar_bott flt ">
                                            <p>
                                                &nbsp;<span style="font-family: Arial;"> </span><span style="font-family: Arial;">
                                                    <span style="font-size: 10pt;"><big><small><b>Address</b></small></big></span>
                                                </span><span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            <br>
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                            <p><span style="font-family: Arial;"> </span></p>
                                            <p style="text-align: left;">
                                                <span style="font-size: 10pt;">
                                                    <big>
                                                        <small>
                                                            #1, Flat-202, 2nd Floor,
                                                            BVR Lake front building, <br>
                                                            Veerannapalya Main Road, A.C. Post, Nagavara,Bengaluru-45
                                                        </small>
                                                    </big>
                                                </span>
                                            </p>
                                        </div>
                                        <div id="componentlayout440522" class="add_blocks flt ca_cl ">
                                            <p>
                                                <b>Email</b><br>
                                                <small><span style="font-family: Arial;"><big>hrindia@techhighbrows.com</big></span></small>
                                            </p>
                                        </div>
                                        <div id="componentlayout458259" class="add_blocks flt ca_cont ">
                                            <p>
                                                <b>Contact</b><br>
                                                9739466719 / 9108855890 / 9945194330
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.9045845294413!2d77.61119331484409!3d13.041745090809883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17dcdb06ce4f%3A0xe6ce8c3ee56527e!2sTHB%20Software%20Solutions%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1572323698948!5m2!1sen!2sin"
                                            style="border:0;" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>
                                </p>
                            </div>

                        </div>

                        <!-- for the button !-->
                    </div>

                    <div id="componentlayout440523" class="col-sm-4 col-md-4 col-xs-6 pull-right">
                        <div id="componentlayout440524" class="touch_right flt ">
                            <div id="componentlayout440525" class="form_head flt ">
                                <p>
                                    write us<br>
                                    <span>Get in touch</span>
                                </p>
                            </div>
                            <div id="componentlayout440526" class="form_div flt ">
                                <style type="text/css">
                                    .form_div label {
                                        display: none;
                                    }

                                    .form_div .form-group {
                                        float: right;
                                        width: 100%;
                                    }

                                        .form_div .form-group .col-md-3 {
                                            float: right;
                                            width: 100%;
                                        }

                                            .form_div .form-group .col-md-3 .form-control {
                                                float: right;
                                                width: 100%;
                                            }

                                        .form_div .form-group.wd_50 {
                                            float: right;
                                            width: 50%;
                                        }

                                        .form_div .form-group .col-md-3 .form-control {
                                            float: right;
                                            width: 100%;
                                            border: 1px solid rgb(159, 159, 159);
                                            border-radius: 0px;
                                            box-shadow: none;
                                            height: 45px;
                                            margin-bottom: 15px;
                                            font-family: "Muli", sans-serif;
                                            font-weight: 600;
                                        }

                                    .form_div #Message {
                                        height: 150px;
                                    }

                                    .form_div .form-group .col-sm-10 {
                                        padding: 0px;
                                        margin: 0px;
                                        float: right;
                                        width: 100%;
                                    }
                                </style>
                                <div id="messagediv5759" style="padding-top:5px;"></div>
                                <form method="post" class="form-inline" name="chkform" value="" enctype="multipart/form-data" action="/page/contact.html">
                                    <fieldset>
                                        <input type="hidden" name="formname" value="chkform1">
                                        <input type="hidden" name="pageid" value="about-us">
                                        <input type="hidden" name="formid" value="5759">
                                        <input type="hidden" id="form_redirect5759" name="form_redirect5759" value="">
                                        <input type="hidden" id="sitename" name="sitename" value="thbsoftwaresolution">
                                        <div id="success5759" style="display:none">
                                            <div class="successMessages" id="successmessage">
                                                <div>
                                                    <img src="/images/icons/iconInformation.gif">
                                                    Thank You
                                                </div>
                                            </div>
                                        </div>
                                        <div class="outercoverfrontend" style="font-size:12px;">
                                            <div class="allfieldsoutercover">
                                                <div class="form-group fg wd_50 ">
                                                    <label for="Name" class="col-md-4 control-label fl wd_50">
                                                        Name
                                                        <span> *</span>
                                                    </label>
                                                    <div class="col-md-3  col wd_50">
                                                        <span class="help-block ms wd_50" id="message57591" style="font-size:9px;color:red"></span>
                                                        <input type="text" id="Name" name="Name" title="Name" placeholder="Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group fg wd_50 ">
                                                    <label for="Email" class="col-md-4 control-label">
                                                        Email
                                                        <span> *</span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <span class="help-block" id="message57592" style="font-size:9px;color:red"></span>
                                                        <input type="text" id="Email" name="Email" title="Email" placeholder="Email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group fg ">
                                                    <label for="Message" class="col-md-4 control-label fl">Message</label>
                                                    <div class="col-md-3  col">
                                                        <span class="help-block ms" id="message57593" style="font-size:9px;color:red"></span>
                                                        <textarea class="form-control" name="Message" id="Message" title="Message" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">var jarray = new Array(); jarray[0] = "Name_Name"; jarray[1] = "Email_Email"; jarray[2] = "Message_Message";</script>
                                            <style type="text/css">
                                                .outerfieldcover input, .outerfieldcover textarea {
                                                    font-family: verdana;
                                                    font-size: 12px;
                                                    font-weight: bold;
                                                    color: #cdcdcd;
                                                }
                                            </style>
                                            <script type="text/javascript">jQuery('.inputtext').each(function () { this.value = jQuery(this).attr('title'); jQuery(this).addClass('text-label'); jQuery(this).focus(function () { if (this.value == jQuery(this).attr('title')) { this.value = ''; jQuery(this).removeClass('text-label'); } }); jQuery(this).blur(function () { if (this.value == '') { this.value = jQuery(this).attr('title'); jQuery(this).addClass('text-label'); } }); }); jQuery(document).ready(function () { jQuery('.submitbutton input').click(function () { jQuery('.inputtext').each(function () { var check = jQuery(this).attr('name') + '_' + jQuery(this).attr('value'); if (jQuery.inArray(check, jarray) > -1) { this.value = jQuery(this).attr('value'); this.value = ''; } }); }) }); jQuery.noConflict();</script>

                                            <div class="col-sm-3 col-md-3 col-xs-12 contact-button pull-right fadeIn zoomIn animated">
                                                <a href="#" class="btn contactus-btn floating pull-right animated " type="submit" value="Submit" onclick="return validCaptcha();">Submit</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


