
@{
    ViewBag.Title = "Staffing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar rebrand-breadcrumb-module hidden-xs hero-breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="@Url.Action("Index", "Home")">
                        <span property="name">Home</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="#">
                        <span property="name">Services</span>
                    </a>
                    <meta property="position" content="2">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    Staffing
                    <meta property="position" content="3">
                </li>
            </ol>
        </div>
    </div>
</nav>

<section class="container-fluid" id="agile-hero">
    <section id="banner-section" class="hero-module hero-module-G-slider hero-rebrand-G">
        <div class="banner">
            <!-- Carousel
            ================================================== -->
            <div id="ModuleGCarousel" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner" role="listbox">
                    <div class="item fit-to-width active" data-position="1" style="background-image: url(&quot;/images-used/upload/thbsoftwaresolution/serv_bann2.jpg&quot;);">
                        <img data-src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" class="slides" alt="agile delivery">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section data-content="lpeoplelculturelwomenltab" class="card-a-module full-image-card tabbed-a-full-image people-culture-women-tab tab-one tab_card_module desktopTabbedMod mobileTabbedMod bg-waves bg4 waveID0" id="people-culture-women-tab">
    <div class="bg-wrapper"></div>
    <div class="container">
        <div class="module-title bg-header-title" style="opacity: 1;">
            <h1>
                Staffing
            </h1>
            <p></p>
        </div>

        <div class="tabbed-carda">

            <!-- Tab panels -->
            <div class="tab-container-rebrand">
                <input id="hddnTabcount" name="hddnTabcount" type="hidden" value="1">                                            <h3 class="tab-drawer-heading full-image-card d-active ga-retabbed-tabs-mobile-tab1-people-culture-women-tab" rel="tab1" data-position="1"></h3>
                <div id="people-culture-women-tab-tab1" class="tab-content-rebrand">
                    <div class="cards-a no-share ">

                        <div class="left-single-card-a card-a-full-img" id="card-one">
                            <div class="card-a-body">
                                <h2 class="" style=""></h2>
                                <div class="colp-land">
                                    <p></p><p>Outsourcing the staffing need is advantageous for both businesses and employees. Organisations have the flexibility of finding people for short projects, while talented employees also get to chart out a clear career path by progressively handling more challenging and higher positions in different companies.</p>
                                    <p>Most of the companies are Insisting for Contract staffing to reduce risk on short term projects and to reduce Labour compliance and Administration Issues</p>
                                    <p>Contract Staffing employees can be taken for a minimum period of 6 Months. Based on the performance of the contract employee organisation can decide to hire through conversion or close the contract</p><p></p>
                                    @*<div>
                                             <div class="col-md-4 col-sm-5 col-sx-10">           <img alt="" src="~/images/upload/thbsoftwaresolution/services/inr-contract.jpg">        </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="fadeout cardAScrollFade"></div>
                            <span class="leftcardSpan"></span>
                            <div class="addingScrollBar">
                            </div>
                            <span class="showtab">Show More</span>
                        </div>

                        <div class="right-cards-a">
                            <div class="card-a-multiple full-image-card no-share  no-btn " id="card-2">
                                <div class="multiple-card-image">
                                    <img data-src="~/images/upload/thbsoftwaresolution/services/111.png" src="~/images/upload/thbsoftwaresolution/services/111.png" class="img-responsive ga-retabbed-img-people-culture-women-tab-1-1" alt="women at avanade blog">
                                </div>
                                <div class="card-a-body ga-retabbed-details ga-card-people-culture-women-tab-1-1 " data-position="1-1">
                                    <h2 class="tabbed-title ga-retabbed-tabbed-title ga-card-people-culture-women-tab-1-1 " data-position="1-1">
                                        IT consulting
                                    </h2>
                                    <div class="colp-land">
                                        <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-people-culture-women-tab-1-1 " data-position="1-1">
                                            TechHighbrows permanent staffing solutions give you access to fully screened and qualified candidates in any industry of your choice.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="right-cards-a">
                            <div class="card-a-multiple full-image-card no-share  no-btn " id="card-2">
                                <div class="multiple-card-image">
                                    <img data-src="~/images/upload/thbsoftwaresolution/services/222.png" src="~/images/upload/thbsoftwaresolution/services/222.png" class="img-responsive ga-retabbed-img-people-culture-women-tab-1-1" alt="women at avanade blog">
                                </div>
                                <div class="card-a-body ga-retabbed-details ga-card-people-culture-women-tab-1-1 " data-position="1-1">
                                    <h2 class="tabbed-title ga-retabbed-tabbed-title ga-card-people-culture-women-tab-1-1 " data-position="1-1">
                                        Captive Business
                                    </h2>
                                    <div class="colp-land">
                                        <p class="hidden-xs ga-retabbed-tabbed-desc ga-card-people-culture-women-tab-1-1 " data-position="1-1">TechHighbrows knows that running a business is not an easy task. By providing you a comprehensive employment and payroll service, you can say goodbye to extra time spent managing your payroll.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>