
@{
    ViewBag.Title = "Technology_Center";
}

<nav class="navbar rebrand-breadcrumb-module hidden-xs hero-breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="@Url.Action("Index", "Home")">
                        <span property="name">Home</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="#">
                        <span property="name">THB Initiative</span>
                    </a>
                    <meta property="position" content="2">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    Technology Center
                    <meta property="position" content="3">
                </li>
            </ol>
        </div>
    </div>
</nav>

<section class="container-fluid" id="agile-hero">
    <section id="banner-section" class="hero-module hero-module-G-slider hero-rebrand-G">
        <div class="banner">
            <!-- Carousel
            ================================================== -->
            <div id="ModuleGCarousel" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner" role="listbox">
                    <div class="item fit-to-width active" data-position="1" style="background-image: url(&quot;/images-used/upload/thbsoftwaresolution/serv_bann2.jpg&quot;);">
                        <img data-src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" src="~/images/upload/thbsoftwaresolution/serv_bann2.jpg" class="slides" alt="agile delivery">
                    </div>
                </div>
            </div>
    </section>
</section>

<section class="content-section content-module-A col-md-10 TextTwo col-sm-10" id="TextTwo">
    <div class="container ">
        <div class="content-container col-md-10">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Corporate Upskilling Program A prodigious platform meant to diligently prime the young and deserving technical graduates on the industrial expectations, accepted standards and best practices.</p>
                    <p>Candidates are assiduously selected based on their academic credentials, written tests (aptitude & computer programing) and personal interview. Qualifying candidates thus selected are induced into our well excogitated priming program.</p>                    
                    <h3><b>Internship</b></h3>
                    <br />
                    <p>
                        We provide internship program for final year engineering and pre-final year
                        Eligibility criteria BE(CSE,ISE and ECE)
                    </p>
                    <h6 style="color:#000066;font-weight:400;font-size:15px;letter-spacing:1px">                       
                            Interested candidates send mail to hrindia@techhighbrows.com
                        
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>
